[2015-06-22 12:56] pavanky opened #1 "Port all functions from ArrayFire 3.0"
Import from each header file into a unique python source file. Also add simple_XYZ.py in tests/ that run each of the functions to make sure they are running. These tests need not test for accuracy.

- [x] algorithm
- [x] arith
- [x] array
- [x] blas
- [x] data
- [x] defines (library.py)
- [x] device
- [x] features
- [x] graphics
- [x] image
- [x] index
- [x] lapack
- [x] signal
- [x] statistics
-

[2015-06-22 13:01] pavanky opened #2 "Port as many examples as possible"
Directories to port:

- [ ] benchmarks
- [ ] computer_vision
- [ ] financial
- [ ] getting_started
- [ ] graphics
- [ ] helloworld
- [ ] image_processing
- [ ] lin_algebra
- [] machine_learning

[2015-06-22 13:06] pavanky opened #3 "Add the ability to switch backends"
Currently the backend is automatically chosen in the following order of preference.

CUDA  > OpenCL > CPU

Make it possible for users to choose a backend of their choice.

[2015-07-15 21:57] pavanky opened #4 "Add missing simple tests"
- [ ] fast
- [ ] orb
- [ ] match_template
- [ ] hamming_matcher
- [ ] load_image
- [ ] save_image

[2015-07-16 21:29] #1 closed

[2015-07-16 22:14] pavanky opened #5 "backend selection on windows is throwing system errors"
The code will eventually runs, but the program stalls for user input because of system errors. python inside cygwin works fine.

[2015-07-20 17:34] shehzan10 commented on #5
Fixed by 3b8b928c62f91b4a7db7b32402f13f78b8ed985d

[2015-07-20 17:34] #5 closed

[2015-07-29 17:17] cmey opened #6 "Interoperability with numpy"
Would it be possible to support interoperability with numpy?

[code]

Currently:
[code]

[2015-07-29 19:39] pavanky commented on #6
We are trying to ensure ArrayFire works out of the box on a python distribution. Numpy may not always be installed on the machine. That said, I pushed out 14d5bc641353f4ef14d798eed2e6aeb684d7a298 that should add the ability to interop with numpy in the following manner:

[code]

[2015-07-29 19:40] pavanky commented on #6
The transpose flag may be necessary because numpy is row major by default and ArrayFire is column major.

[2015-07-30 10:37] cmey commented on #6
Works great, thanks!

[2015-08-02 19:06] pavanky opened #7 "Add documentation"
- [x] \_\_init\_\_.py
- [x] algorithm.py
- [x] arith.py
- [x] array.py
- [x] base.py
- [x] bcast.py
- [x] blas.py
- [x] data.py
- [x] device.py
- [x] features.py
- [x] graphics.py
- [x] image.py
- [x] index.py
- [x] lapack.py
- [x] library.py
- [x] signal.py
- [x] statistics.py
- [x] util.py
- [x] vision.py

[2015-08-02 19:07] pavanky opened #8 "Add support for setuptools"

[2015-08-06 02:18] mklf commented on #6
This only work for square matrix, for example:
[code]
will print:
[code]
a solution to this is convert the numpy.ndarray to fortran order first:
[code]

[2015-08-10 06:20] mjabri opened #9 ""unwrap" function"
I looked at the python bindings and could not find the "unwrap" function which is supposed to implement MATLAB im2col like op. Did i miss it? If not are there plans to have it?
What i am trying to do is a convolution of an image with multiple kernels using a matrix multiplication approach as for example in Caffe. For this, the image needs to be 'lowered' (ie using an im2col like op) so each extrac

[2015-08-10 08:38] pavanky commented on #9
This will done once it is implemented in C++

[2015-08-10 16:14] mjabri commented on #9
You mean the "wrap" (col2im) part? Because the im2col part ("wrap") is what is implemented in c++ already.

[2015-08-10 16:18] mjabri commented on #9
Ok, i see the confusion. There are two issues, and i really should have raised them separately. So what I am raising here is whether unwrap will be put in the python bindings soon.

[2015-08-11 02:31] mjabri opened #10 "core dump in to_array() function"
I am getting a core dump as follows

$ python
Python 2.7.3 (default, Jun 22 2015, 19:33:41)
[GCC 4.6.3] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Using cpu backend

Segmentation fault (core dumped)
$

this is using ArrayFire i got from github 2 days ago and arrayfire-python got from github today. Note all tests of ArrayFire pass, and running all examples of

[2015-08-11 12:17] pavanky commented on #10
@mjabri Looks like I should be throwing exceptions when you try to do "to_array()" from an empty array. You can try creating a random array and then see what happens.

Can you also explain what tests are failing on your system (in a separate issue perhaps)?

[2015-08-11 12:20] pavanky commented on #9
@mjabri The "unwrap" function has been added to ArrayFire in the devel branch after 3.0 release. The new functions added during the 3.1 development cycle will be added to the python bindings after 3.1 is released.

[2015-08-12 03:40] mjabri commented on #10
tried with randu and randn ant seems to work. All tests after build are working ok. LAPACK issue was resolved as mentioned on GITTER.

[2015-08-12 15:17] jramapuram opened #11 "pip install"
It would be nice to simply:
  - pip install arrayfire
or as an intermediary:
  - pip install git+https://github.com/arrayfire/arrayfire-python

I think all it needs is a setup.py

[2015-08-12 15:23] pavanky commented on #11
duplicate of https://github.com/arrayfire/arrayfire-python/issues/8

[2015-08-12 15:23] #11 closed

[2015-08-12 17:07] pavanky commented on #10
Fixed in master by raising exceptions when array is empty.

[2015-08-12 17:07] #10 closed

[2015-08-12 23:29] jramapuram commented on #11
Gah I need to read, sorry. Did a quick grep for pip and didnt see anything.

[2015-08-25 21:59] FilipeMaia opened #12 "create_array reads too many dimensions"
Currently `array.create_array(buf, numdims, idims, dtype)` assumes `idims` has always size 4 even if `numdims < 4`. It shouldn't.

[2015-08-25 22:11] FilipeMaia commented on #12
I should have read some more, I see i'm not supposed to use it...

[2015-08-25 22:11] #12 closed

[2015-08-26 13:07] pavanky opened #13 "Code cleanup"
- [ ] [incorrectly assigning to module](https://github.com/arrayfire/arrayfire-python/blob/v3.0/arrayfire/array.py#L19?)
- [ ] create_array should use `c_void_p` instead of `c_ulonglong`
- [ ] arrayfire.array class and file being the same may cause conflicts

[2015-08-26 13:08] pavanky opened #14 "Possibly expose index and sequencing functions"

[2015-08-26 15:14] FilipeMaia commented on #13
There are a lot of unnecessary backslashes at the end of line (I haven't seen any that's necessary).
They should be removed, as it goes against the python style guide.

[2015-08-27 12:58] FilipeMaia opened #15 "Missing array.device() function"
I would like to able to get the device pointer like `array.device()` or `af_get_device_ptr()`.

[2015-08-27 15:22] pavanky commented on #15
This is not possible without inter operating with PyCUDA and PyOpenCL. I do not want to add any non default dependencies to arrayfire.

Do you have any suggestions about how you can do this?

[2015-08-27 16:20] FilipeMaia opened #16 "array.copy() does not do a deep copy"

[2015-08-27 16:42] FilipeMaia opened #17 "Copy-paste bug in arith_binary_func()"
[arith.py:38](https://github.com/arrayfire/arrayfire-python/blob/master/arrayfire/arith.py#L38) should be:
`safe_call(c_func(ct.pointer(out.arr), other.arr, rhs.arr, bcast.get()))`

[2015-08-27 16:59] FilipeMaia opened #18 "arith_binary_func() wrongly casts number arguments"
If the lhs is a number and the rhs an array (or vice-versa) the lhs will be casted to the type of the rhs. This is inconsistent with the C++ API (there's no C API for such a case).

The array created out of the lhs should have the arrayfire types that matches the type of the lhs, or raise an error is no such type exists.

[2015-08-27 17:06] FilipeMaia commented on #18
This can also cause seg faults when the types of lhs and rhs are different, for example:
[code]

[2015-08-27 17:53] FilipeMaia commented on #15
I just wanted you to add something like:
[code]

[2015-08-27 17:54] pavanky commented on #15
Alright, we can make that work

[2015-08-27 17:55] pavanky commented on #15
I will probably call it `device_ptr` to make it explicit.

[2015-08-27 17:55] FilipeMaia commented on #15
Sure, makes sense.

[2015-08-27 18:24] FilipeMaia opened #19 "Missing typecodes for complex types"
At least I didn't find them.
I suggest 'F' for c32 and 'D' for c64.

[2015-08-27 21:02] #15 closed

[2015-08-27 21:02] #16 closed

[2015-08-27 21:02] #17 closed

[2015-08-27 21:02] #18 closed

[2015-08-27 21:02] #19 closed

[2015-08-27 23:23] #13 closed

[2015-08-27 23:23] #14 closed

[2015-08-28 08:59] FilipeMaia opened #24 "Indexing with negative step sizes"
Currently arrays cannot be indexed with negative step sizes.

[2015-08-28 09:49] FilipeMaia commented on #24
Do you want to support this? It doesn't seem so easy actually, so maybe raising an error is the best.

[2015-08-28 09:57] FilipeMaia commented on #24
The C++ side can almost handle negative step sizes, the only obvious roadblock I see is there being no way to specify seq.begin at the end of the array. Using -1 triggers a [special code path](https://github.com/arrayfire/arrayfire/blob/devel/src/backend/dim4.cpp#L200) which I don't quite understand the purpose.

[2015-08-28 10:07] FilipeMaia commented on #24
I think the main issue is that I don't quite understand how seq() is supposed to work for negative steps.

[2015-08-28 14:42] FilipeMaia opened #26 "array[0:0] should return empty array"
Currently it is equivalent to array[:] which is quite surprising.

[2015-08-28 15:20] pavanky commented on #24
Can this be closed after the PR ?

[2015-08-28 15:22] FilipeMaia commented on #24
I'm afraid not, the issue is deeper. There's no easy way to do array[::-1] because there's no way (that I know) to specify that seq.begin corresponds to the end of the array in the C/C++ API. The fixes I did only handle cases where the begin and end are specified.

[2015-08-28 15:25] pavanky commented on #24
af::seq(end,0, -1) does not work ?

[2015-08-28 15:27] FilipeMaia commented on #24
Nope it gives:
[code]

Code:
[code]

[2015-08-28 15:29] pavanky commented on #24
OK, I think I can still handle this in python itself. If you are not working on this and #26 I will give a shot at fixing them.

[2015-08-28 15:29] FilipeMaia commented on #24
If you look at calcDims when end is 0 you end up on:
 DIM_ASSERT(1, seq.begin >= -DBL_MIN && seq.begin < parentDim);

which will fail as af::end is smaller than -DBL_MIN

[2015-08-28 15:30] FilipeMaia commented on #24
I'm not working on it, I have workarounds for my code.

[2015-08-28 15:33] FilipeMaia commented on #26
As empty arrays don't really exist yet a good compromise might to to return None.

[2015-08-28 15:34] pavanky commented on #26
They do exist. `array(dim4())` is an empty array in ArrayFire. The functions can't handling them properly is a different issue..

[2015-08-28 19:21] pavanky commented on #24
Ok, I think I am going to handle this upstream. The workarounds are ugly.

[2015-08-31 09:28] FilipeMaia opened #28 "Indexing errors inconsistent with C++"
The following example shows the different behaviour in C++ and python:

[code]

This will run fine on C++ but will raise an `IndexError` in python. I think it would be better if they both worked or both returned an error.

[2015-08-31 09:32] pavanky commented on #28
@FilipeMaia The python wrapper exhibits behavior typical to python. There is no standard version for such indexing in C++ so we had to make up stuff as we went along. I do not think we should expect consistent behavior across C++ and Python in this regard.

[2015-08-31 09:54] FilipeMaia commented on #28
The issue is related to the array dropping dimensions when one of the indices is a number. This is exactly the same in C++ and Python but by not raising an error in C++ is allow some more natural code.

Consider the following example:

[code]
Depending on the number of rows this might raise an error, which is not very intuitive.

[2015-08-31 09:57] FilipeMaia opened #29 "iterating over array causes seg fault"
Doing `for in row in A:` currently causes a seg fault, I think due to IndexError not being raised when accessing outside the array.

[2015-08-31 09:58] pavanky commented on #29
I just pushed [this commit](https://github.com/arrayfire/arrayfire-python/commit/b43deb5b9cc84dda6e4c6e18fb934ab401e1cdf0) that was causing segfaults earlier.

Can you check if this is still happening with HEAD?

[2015-08-31 10:01] FilipeMaia commented on #29
You're right, it fixed it!

[2015-08-31 10:01] #29 closed

[2015-08-31 10:13] pavanky commented on #8
Implemented in master.

[2015-08-31 10:13] #8 closed

[2015-08-31 10:13] pavanky commented on #11
@jramapuram It is now in master. Let me know if it works.

[2015-08-31 10:19] pavanky commented on #6
@FilipeMaia Can you comment here on how you are achieving this in afnumpy ?

[2015-08-31 10:33] pavanky commented on #6
This is actually present in master as a constructor thanks to @FilipeMaia

The lay out changes are going to be difficult to implicitly handle inside arrayfire. I think it should be left to the user to change it to proper format before calling arrayfire functions.

[2015-08-31 10:40] pavanky commented on #28
Can you post some working code sample that I can run to understand this better? The code you posted here does not work.

[2015-08-31 10:45] pavanky commented on #28
There was a minor typo, fixed and and ran to see the problem. I am going to emulate the numpy behavior for this case.

[2015-08-31 10:48] FilipeMaia commented on #6
The only way to ensure a conversion where the dimensions of the arrayfire array match dimensions of the numpy is like @mklf did in the last code snippet (N.B. this often means the data will have to be transposed as numpy uses C order by default).

In afnumpy I'm currently assuming the numpy arrays are always in C order and have the shape of the arrayfire array be the inverse of the numpy array, e.

[2015-08-31 10:51] pavanky commented on #28
Having said that numpy treats 1D arrays differently than 2D arrays with second dimension == 1. I do not think supporting this behavior is possible in arrayfire.

We can treat the array as always being n-dimensional (like we do in C++) and or keep the current behavior.

I think reverting it back to the C++ like behavior is the more saner option of the two like you suggested.

@FilipeMaia Let me kno

[2015-08-31 11:15] pavanky commented on #28
Fixed in master.

[2015-08-31 11:15] #28 closed

[2015-08-31 11:43] FilipeMaia commented on #28
Sorry, I didn't test the code because of the seg fault on the for loop.
I agree, the C++ like behaviour is the better solution. Thanks for fixing it!

[2015-08-31 13:49] pavanky commented on #3
Fixed in master.

[code]

An exception is thrown if the one tries to change backend after an af.Array() is created. This can can be silenced by using the following:

[code]

Be careful when toggling `unsafe = True`. Passing arrays created on different backend to the current library will cause issues.

[2015-08-31 13:49] #3 closed

[2015-09-01 17:48] pavanky opened #31 "Add all the new functions from 3.1"
- [x] sum with NaN support
- [x] product with NaN support
- [x] sigmoid
- [x] select
- [x] replace
- [x] lock
- [x] unlock
- [x] dog
- [x] sat
- [x] wrap
- [x] unwrap
- [x] ycbcr2rgb
- [x] rgb2ycbcr

- [x] fftInPlace, fft2InPlace, fft3InPlace
- [x] ifftInPlace, ifft2InPlace, ifft3InPlace
- [x] fft_r2c, fft2_r2c, fft3_r2c
- [x] fft_c2r, fft2_c2r, fft3_c2r
- [ ] saveArray
- [x] readArray
- [x] toStr

[2015-09-07 10:28] FilipeMaia opened #32 "Error in _get_assign_dims"
[code]

[2015-09-07 12:45] FilipeMaia opened #34 "Cannot index with booleans"
[code]

This works in C++, but not in C, that's why the error. I think it would be more user friendly if it worked also in C.

Here's the C++ example showing the issue in arrayfire:

[code]

[2015-09-07 17:58] #32 closed

[2015-09-08 17:35] pavanky commented on #34
@FilipeMaia I pushed it to my fork, but I am facing a weird error when trying to clean up the allocated arrays. Can you look at the code [here](https://github.com/pavanky/arrayfire-python/commit/2a524630035cf360ecb249abfbaacdeb25096d33#diff-1a2a7bb52b5ec44a81f3aad570a551a1R212) and see if I am doing something incorrectly ?

For whatever reason the `__del__` method of `Index` class **seems** to be

[2015-09-08 17:43] pavanky commented on #34
Created PR for better review: https://github.com/arrayfire/arrayfire-python/pull/35

[2015-09-09 20:12] pavanky commented on #34
Fixed in master.

[2015-09-09 20:12] #34 closed

[2015-09-16 16:06] marbre opened #39 "Could not load any ArrayFire cuda backend"
I know, the python bindings are not intended for production use. Anyway, I noticed that I can load the opencl and the cpu backend, but I am unable to load the cuda backend:

[code]

arrayfire was compiled with the CUDA toolkit 7.5.18.

[2015-09-16 17:10] shehzan10 commented on #39
Can you confirm whether the the CUDA nvvm/lib64 path is in you LD_LIBRARY_PATH?

[2015-09-16 18:03] pavanky commented on #39
@marbre You need to set `LD_LIBRARY_PATH` to point to cuda/nvvm/lib64 as well.

[2015-09-16 18:06] pavanky commented on #39
Oops, I forgot to remove that from description. I think it is more or less stable right now.

[2015-09-16 22:22] marbre commented on #39
Okay, that did the trick. Is this documented somewhere?

[2015-09-16 22:22] #39 closed

[2015-09-16 22:24] pavanky commented on #39
@marbre It is supposed to be documented here: https://github.com/arrayfire/arrayfire-python/wiki

But I realize I did not add the part about nvvm. I will be adding it.

[2015-09-16 22:25] pavanky commented on #39
That page is linked from the main README.md under the getting_started section. I can perhaps add the link to the page in the error messasge.

[2015-09-16 22:29] marbre commented on #39
@pavanky I checked this page of cause, but it only states the the arrayfire library has to be in the library path, which is the case on my system. Furthermore, also libcudart is in the library path, but libnvvm wasn't.

[2015-09-16 22:32] pavanky commented on #39
@marbre I updated it now. Thanks for bringing it up. Usually most distros put  `CUDA_PATH/lib64` in the system path but skip `CUDA_PATH/nvvm/lib64`

This is also true for the CUDA installer on windows.

[2015-09-16 22:34] pavanky commented on #24
This is fixed in 3.1.1 release. I think we can safely close this.

[2015-09-16 22:34] #24 closed

[2015-09-16 22:36] marbre opened #40 "af.display is broken in release 3.0.20150914"
I tested the current master and also 3.0.20150914 (available via pypi). In 3.0.20150914 `af.display(a)` (taken from the example) doesn't shows any output, with the current master the the output is as expected. I assume this was fixed with commit 80d299d.

Maybe, a new release could be created?

[2015-09-16 22:37] marbre commented on #39
@pavanky That was actually the problem here, so thanks for your support. I'll push this change to Gentoo.

[2015-09-17 13:32] pavanky commented on #40
@marbre This is only broken when running from the interpreter. If you run it as a script and / or ipython it works.

I can make a new release with a couple of fixes.

[2015-09-24 13:53] #7 closed

[2015-09-28 08:58] ghisvail opened #41 "missing tag for release v3.0.20150914"
This release is available via PyPI, but does not seem to be tagged in the upstream repository. Could you push the missing release tag please?

Thanks!

[2015-09-28 09:02] ghisvail commented on #41
Or the current tag has a typo, i.e. 2014 -> 2015?

[2015-09-28 11:25] pavanky commented on #41
Oops. fixed. thanks for pointing out.

[2015-09-28 11:25] #41 closed

[2015-10-02 11:56] pavanky commented on #6
I closed the issue hastily. arrayfire --> numpy is supported but the opposite is not.

[2015-11-02 07:52] marbre commented on #40
@pavanky Could you please provide a more recent release? I would like to add a more recent relase to the Gentoo [science overlay](https://github.com/gentoo-science/sci/tree/master/dev-python/arrayfire-python).
Furthermore, the note `This is a work in progress and is not intended for production use.` should be removed from the README.md.

[2015-11-03 14:00] FilipeMaia opened #42 "Bug in __setitem__() with boolean arrays"
[code]

[2015-11-03 14:40] #42 closed

[2015-11-10 17:40] pavanky commented on #9
This is now present in the master branch.

[2015-11-10 17:40] #9 closed

[2015-11-11 15:41] #31 closed

[2015-11-11 18:13] pavanky commented on #6
This is fixed in master. All you need to do now is call the following function:

[code]

This will take care of all cases @mklf mentions.

[2015-11-11 18:13] #6 closed

[2015-11-11 18:41] pavanky commented on #40
@marbre This is now done with 3.1.20151111

[2015-11-11 18:41] #40 closed

[2015-11-11 18:46] cmey commented on #6
Thank you!

[2015-11-11 18:47] pavanky commented on #6
@cmey I have uploaded the latest version to be available via `pip`

[2015-11-11 21:49] FilipeMaia opened #45 "arrayfire.flat() creating a copy"
[code]
Using a one-dimensional array does not cause a copy. Calling `flat()` on `a` does not cause a copy. I'm not certain if this is a bug, but it's certainly surprising. Also it probably comes from arrayfire directly.

[2015-11-12 03:51] pavanky commented on #45
Hmm. This does not seem to happen in C++ using the following code:

[code]

[2015-11-12 03:59] pavanky commented on #45
OK, I am able to reproduce this in C++ using the following:

[code]

I **think** I know how to fix this, but I am not sure it will make it to 3.2.0 because it requires additional testing.

[2015-11-12 04:04] pavanky commented on #45
Created an issue upstream over here: https://github.com/arrayfire/arrayfire/issues/1101

[2015-11-12 07:37] marbre commented on #40
@pavanky Thanks for taking care :)

Just version bumped it in Gentoo science overlay https://github.com/gentoo-science/sci/commit/eae237c0cc669b54765418d89b4b48ee86130fb3.

[2015-11-12 15:10] FilipeMaia commented on #45
It would be important to also take into account the case where `array b` is not the entire `array a` but a contiguous subset. Like:

[code]

[2015-11-13 01:51] mjabri commented on #9
Thanks!!

[2015-11-13 13:35] pavanky opened #46 "Add missing functions from 3.2"
**vision**
- [x] homography
- [x] GLOH
- [x] SIFT

**image**
- [x] loadImageNative
- [x] saveImageNative

**backend**
- [x] set_backend
- [x] get_backend_count
- [x] get_available_backends
- [x] get_backend_id

**index**
- [x] Investigate using new helper functions

**graphics**
- [x] set_size
- [x] plot3
- [x] surface

[2015-11-13 13:51] pavanky opened #47 "Interop with PyCUDA, PyOpenCL"
- [x] PyCUDA
- [x] PyOpenCL

----

Complete Interop with PyOpenCL may be difficult due to [problems with upstream](https://github.com/arrayfire/arrayfire/issues/1002). For now the ability to use arrayfire first and then use it with PyOpenCL may be the only way to interop with it.

[2015-12-07 16:47] pavanky commented on #45
This bug is fixed upstream. However calling `device_ptr` might cause a copy. Use `device_mem_info()` to check if new buffers are locked as an alternative.

The next release of arrayfire will have new functions that will improve the situation further.

[2015-12-07 16:47] #45 closed

[2015-12-09 00:36] pavanky commented on #46
Everything present in master.

[2015-12-09 00:36] #46 closed

[2015-12-09 01:33] pavanky opened #48 "Segfault occurs if af.info() is the first call when using OpenCL backend"
`af.info()` is the first call to OpenCL

[code]

`af.info()` is **not** the first call to OpenCL
[code]

[2015-12-09 01:39] pavanky commented on #48
This does not happen when running as a script. Only a problem when running `python3` and `ipython3`  from command line.

[2015-12-09 01:43] pavanky commented on #48
The problem persists with older versions of arrayfire on this machine, but is not reproducible on a different machine. Closing the issue as it is possibly a bug in one of the OpenCL libraries.

[2015-12-09 01:43] #48 closed

[2015-12-11 22:34] mchandra opened #49 "Output does not display in ipython notebook"
Trying to do:

[code]

prints to the terminal from which ipython notebook has been opened instead of the output cells in ipython.

[2015-12-11 22:40] pavanky commented on #49
@mchandra Is this an issue if you used `print(a)` as well ? The only difference between `af.display` and `print` is that `af.display` tries to print the variable name when it can.

[2015-12-11 22:43] mchandra commented on #49
I just updated arrayfire-python and now the above works. However

[code]

still displays the output in the terminal and not the ipython output cell.

[2015-12-11 22:48] pavanky commented on #49
@mchandra That is a problem. `af.info()` does not return a string. It just prints it to the console. The problem is upstream with arrayfire. I just created [this issue](https://github.com/arrayfire/arrayfire/issues/1159) to deal with it.

I will update this repo once that feature goes into arrayfire.

[2015-12-11 22:48] pavanky commented on #49
I am closing this issue and opening a new one for `af.info()`

[2015-12-11 22:48] #49 closed

[2015-12-11 22:50] pavanky opened #50 "use af_info_string for arrayfire.info"
This can only make it to master after upstream fixes [this issue](https://github.com/arrayfire/arrayfire/issues/1159)

[2015-12-11 22:50] pavanky commented on #50
@mchandra Watch this issue!

[2015-12-11 23:11] mchandra commented on #50
Thanks!

[2015-12-11 23:11] mchandra commented on #50
Thanks!

[2015-12-14 16:14] FilipeMaia opened #51 "Better error checking during initialization"
Today I came across the following cryptic error message when trying to use arrayfire-python:

[code]

The error was caused by a bad driver version:

[code]

I think it could be useful if arrayfire would test if a device is really available, instead of just checking if it can dlopen the relevant library. For example by calling `arrayfire.Array()`. If that would fail a more useful error could be ret

[2015-12-14 16:18] FilipeMaia opened #52 "Error displaying empty array"
[code]

[2015-12-14 23:07] pavanky commented on #52
This is going to be [handled upstream](https://github.com/arrayfire/arrayfire/issues/1164)

[2015-12-14 23:09] #52 closed

[2015-12-14 23:35] pavanky commented on #50
@mchandra I added a new function called `af.info_str()` that will return similar information from `af.info()`. This was done using existing functions such as `af.device_info()`.

I'll update the function to use the native method when arrayfire `3.3.0` is released. I am closing the issue now. If you still think it needs to be open, let me know.

[2015-12-14 23:35] #50 closed

[2015-12-14 23:36] mchandra commented on #50
Thank you, that'll do for now.

[2015-12-14 23:37] pavanky commented on #50
Btw this is available via master as well as the latest Pypi package.

[2015-12-16 10:13] thedrow opened #54 "Use CFFI instead of ctypes"
CFFI outperforms ctypes, even on CPython.
It will also make arrayfire-python the first library that enables GPU access from PyPy.

[2015-12-16 15:18] PythonProdigy commented on #51
Just curious, were you installing the drivers via your package manager or a runfile installer? The CUDA toolkit comes in both formats and this error can happen when you mix/match these methods during an upgrade.

[2015-12-16 15:25] FilipeMaia commented on #51
The error happened because `yum` automatically upgraded the CUDA driver. But `yum` doesn't remove and reinsert the `nvidia` and `nvidia_uvm` modules, causing the above error. This was on CentOS 6.

[2015-12-16 15:40] PythonProdigy commented on #51
Ah, the woes of package managers! It's hard to cover all of the bases but this disappointing news is very hard to hear. I have never been a fan of yum and the way it handles packages, but mediocrity often finds safety in standardization...

[2015-12-16 16:12] pavanky commented on #54
PyPy already supports ctypes.

[code]

[2015-12-16 16:16] pavanky commented on #54
@thedrow using cffi would require significant re-write internally. I'll need to check a performance hit before I go ahead and do a full re-write.

[2015-12-16 16:44] thedrow commented on #54
ctypes is extremely slow on PyPy. Even slower than C extensions.

[2015-12-16 16:56] pavanky commented on #54
@thedrow You have a point there.

[code]

However I don't know how much of that is `ctypes` and how much is because of garbage collection. I am not familiar with pypy and it looks like it is running out of GPU memory when I run more samples when python isn't.

This means there is a garbage collector of some kind running in the background that is not triggered because it is unaware of GPU memory. A

[2015-12-16 17:06] thedrow commented on #54
You can try setting the PYPY_GC_DEBUG environment variable to 1 to debug major collections and 2 to debug minor collections.
Also vmprof is your friend.

I just realized you're not warming the JIT before you run the benchmarks. You have to run the benchmark for a few thousand loops (usually 10k is enough for any type of code) in order for the JIT to "learn" how to optimize this code. Also pypy3 is

[2015-12-16 17:10] pavanky commented on #54
@thedrow the host side part is about 8x faster on `pypy` so I think it's fine.

[2015-12-16 17:21] thedrow commented on #54
But the avg time is too high, I think. Even with ctypes.

[2015-12-19 19:30] pavanky opened #55 "Add support for views"
This can either be implemented in the wrapper or handled upstream or ideally a combination of both.

This should help the integration with other python modules.

[2015-12-19 19:37] pavanky opened #56 "Add support for C contiguous arrays"
Many python modules default to C contiguous layouts. Adding support for this would be nice.

This can be solved independently of upstream. Most functions are independent of the layout. The few that are dependent include the following.

- Functions that depend on the dimension number: reductions / sort / scan / ffts.
- Linear algebra functions that assume column major layout: matmul, lu, qr, choles

[2015-12-24 03:13] dela3499 opened #57 "Having trouble using on AWS"
I've installed the ArrayFire libraries, pip-installed the python wrapper, and followed the directions on the wiki, but I haven't been able to run any code yet.

When I run `af.info()`, I get the following:

[code]
I'm on an AWS g2.2xlarge, with the NVIDIA/Amazon Linux image.

Any debugging advice?

[2015-12-24 03:31] pavanky commented on #57
Did you go through [this link](https://github.com/arrayfire/arrayfire-python/wiki) as part of Post install instructions ? You need to set `LD_LIBRARY_PATH` to `/usr/local/cuda/lib64:/usr/local/cuda/nvvm/lib64`

[2015-12-24 03:31] #57 closed

[2015-12-24 03:37] dela3499 commented on #57
I did. Perhaps I've just made some dumb mistake like a typographical error. Has anyone else had any trouble?

[2015-12-24 03:44] pavanky commented on #57
@dela3499 Can you echo `$LD_LIBRARY_PATH` and verify ?

[2015-12-24 04:05] dela3499 commented on #57
Sure thing. I'll do it first thing tomorrow morning.

[2015-12-24 23:15] dela3499 commented on #57
So, here's what I've got in my bashrc file:

[code]
My CUDA libraries are in /opt/nvidia/cuda, rather than /usr/local/cuda, so I've put a symbolic link in place with

[code]

[2015-12-24 23:22] pavanky commented on #57
@dela3499 Can you tell me what the output of `ldd libafcuda.so` from `arrayfire-3/lib` ?

[2015-12-25 00:07] dela3499 commented on #57
It looks like I've got the CUDA 6.5 toolkit, and AF needs 7.5.
[code]

[2015-12-25 02:00] pavanky commented on #57
@dela3499 you can build arrayfire with 6.5 if you cant upgrade cuda.

Additionally, you will also need to set `AF_PATH` to `/opt/arrayfire-3` to get it to pick up the libraries.

I fixed the issue in the python wrapper to not require the path, but it looks like the upstream version libraries seem to require it.

[2015-12-25 02:17] dela3499 commented on #57
Thanks for the help!

[2015-12-25 02:40] pavanky commented on #57
@dela3499 btw I am going to update the package in an hour or so that should fix some of the issues.

[2016-01-06 20:05] pavanky opened #59 "Check for arrayfire during installation"
Add optional parameters to install arrayfire libraries and / or print error messages if arrayfire libs are not found.

[2016-01-15 14:36] FilipeMaia opened #60 "Strange issue with wrong types"
The following initialisation returns the wrong type:

[code]

It happens with `s32`, `u32` and `u8`. Might come from upstream...

[2016-01-15 16:04] pavanky commented on #60
@FilipeMaia Which version are you trying ? There was a bug here I fixed a couple of weeks ago that had similar problems. If you are using latest devel, then looks like I broke something else in the process.

[2016-03-02 19:35] pavanky opened #63 "Add missing functions from 3.3"
- [x] scatter
- [x] scatter3
- [x] set_visibility
- [x] alloc_host
- [x] free_host
- [x] alloc_device
- [x] free_device
- [x] alloc_pinned
- [x] free_pinned
- [x] use `lock_array` instead of `lock_device_ptr`
- [x] use `unlock_array` instead of `unlock_device_ptr`
- [x] is_image_io_available
-  ~~transform_coordinates~~
- [x] create_strided_array
- [x] get_strides
- [x] get_offset
- [x] get_raw_pt

[2016-03-02 20:52] #63 closed

[2016-03-02 21:15] pavanky opened #64 "Load libraries with SO version on Linux and OSX."

[2016-03-02 21:23] pavanky commented on #64
This is now fixed as of devel. Unified backend will still have issues because of [upstream bug](https://github.com/arrayfire/arrayfire/issues/1312)

[2016-03-02 21:23] #64 closed

[2016-03-02 21:52] FilipeMaia opened #65 "Type checking fails when enum not available"
The current workaround for enums, when the `enum` package is not available fails in certain situation, e.g.:

[code]

The reason for this is that `isinstance(dtype, Dtype) == False` if `enum` is not present and `True` otherwise.

[2016-03-02 23:34] #65 closed

[2016-03-17 22:20] ZacDiggum opened #68 "boolean indexing giving faulty results"
Consider this:
[code]
This one makes the whole second row into 2s:
`a[a>0.] = 2.`
While pavanky's trick gives the correct result:
[code]
Update: this also gives wrong results:
`a[af.algorithm.where(a>0.)] = 2.`

[2016-03-20 08:50] pavanky commented on #47
Fixed in devel

[2016-03-20 08:50] #47 closed

[2016-03-20 09:33] pavanky commented on #68
@ZacDiggum This should be fixed in devel. Let me know if the problem still persists.

[2016-03-20 09:33] #68 closed

[2016-03-20 09:34] pavanky commented on #26
This is partially solved when using logical indexing in devel.

[2016-03-24 15:12] ZacDiggum opened #69 "wishlist"
- cast numpy scalars to af scalars, so that things like `np.sin(scalar)+af_array=np_array` don't happen. It's confusing and people are bound to use `math.` or `cmath.` functions. Pyopencl does the casting silently. funny: `af_array+np.sin(scalar)=af_array`
- change array layout to row-major as in numpy and C/C++ so that arrays copied from the host and arrays created on the device match (or is ther

[2016-03-24 15:17] ZacDiggum opened #70 "__del__() in loops"
Whenever I call `some_array.__del__()` inside a loop, the loop executes only once and then gets terminated in silence. What does `__del__()` actually do behind the scenes? I tried to get rid of `some_array = None`.

[2016-03-24 15:21] pavanky commented on #69
@ZacDiggum

- (1) may be a bug. `np.sin(scalar) + af_array` is perhaps calling the `__add__` on `np.ndarray` but not on `af.Array`. I will see if I can figure this out.

- (2) There is an issue for this: https://github.com/arrayfire/arrayfire-python/issues/56. The problem is arrayfire library expects the data in the fortran format. For this reason it is not a trivial thing to implement but I am lo

[2016-03-24 15:23] pavanky commented on #70
@ZacDiggum can you show me some code to reproduce this ?

[2016-03-24 15:35] FilipeMaia commented on #69
- (1) `np.sin(scalar) + af_array` definitely calls `__add__` on numpy. Probably then numpy tries to convert the second argument to a numpy array by calling `__array__` on it. The exact same issue exists in afnumpy. I don't know of a way around this while still ensuring that `np.array(af_array)` works.
- (3) I would actually avoid adding multiple names for the same function. It makes the namespace

[2016-03-24 15:38] FilipeMaia commented on #69
BTW about (1) the issue only happens with `numpy.` functions, not the ones in `math.` or `cmath.` which return normal python scalars.

[2016-03-24 15:39] pavanky commented on #69
@FilipeMaia Any idea why numpy's `__add__` takes precedence over arrayfires `__radd__` ?

[2016-03-24 15:41] FilipeMaia commented on #69
@pavanky Why would your class have precedence over numpy's one? The numpy argument is first so its `__add__` is always the first to be called. Only in case that it fails is `__radd__` called on the other argument.

[2016-03-24 15:44] pavanky commented on #69
@FilipeMaia yeah I just found that out myself. May be a simple solution would be to have the user set a flag which chooses between `__array__` or not ?

[2016-03-24 15:55] FilipeMaia commented on #69
@pavanky That could be an option. Another possibility might be to raise a warning if `__array__` is being called by someone other than `numpy.array`, although this might require some ugly stack introspection.

[2016-03-24 15:58] pavanky commented on #69
@FilipeMaia This will still not solve the problem. I am guessing `np.ndarray.__add__` calls `__array__` which would result in no warning at all.

[2016-03-24 16:00] FilipeMaia commented on #69
You mean `__add__` calls `numpy.array`. Yes you're probably right, so we would need to be clever about it...

[2016-03-24 16:02] pavanky commented on #69
@FilipeMaia I am leaning towards not supporting `__array__` by default and only enabling it when a user manually asks for it. We could have a method `to_ndarray` which users can call conversion to numpy.

[2016-03-24 16:03] FilipeMaia commented on #69
Sure, that's cleaner and also a reasonable solution.

[2016-03-24 16:14] ZacDiggum commented on #70
something like this:
[code]
Stops after step 0.

[2016-03-24 16:15] FilipeMaia commented on #69
@pavanky I found a better solution! Setting the `__array_priority__` attribute in `Array`. I tested this on afnumpy and it seems to work.
Check http://stackoverflow.com/questions/35866738/avoid-numpy-distributing-an-operation-for-overloaded-operator

[2016-03-24 16:20] FilipeMaia commented on #70
Looks like `Array.__del__()` should set `self.arr.value` to 0 after `af_release_array`.

[2016-03-24 16:36] ZacDiggum commented on #70
Inserting `self.arr.value=0` after the call to `af_release_array` finishes the loop but gives an error when accessing the array afterwards.

[2016-03-24 16:41] FilipeMaia commented on #70
Accessing the array after deleting it? That doesn't make sense.

[2016-03-24 16:52] ZacDiggum commented on #70
I know, I just tried it out. The name of the array somehow is still around. When inserting `print(a)` as last line in the loop, I expected an 'a is not defined' message. Instead I got a crash. I thought, `.__del__()` would clean up everything about the array. That's all.

[2016-03-24 17:38] pavanky commented on #70
@ZacDiggum That's a python thing.. You could try that with other python objects and you would still see the same issue.

[2016-03-24 17:39] pavanky commented on #69
@FilipeMaia can you send in a patch ? You understand the situation better than I do here.

[2016-03-24 18:35] FilipeMaia commented on #69
#71 should solve the first issue.

[2016-03-24 18:45] pavanky commented on #69
@ZacDiggum since (1) is now fixed and (2) has a different issue associated with it, can you close the issue and open a new one for adding new methods (or atleast rename this issue to reflect the unresolved ones).

[2016-03-24 20:28] #69 closed

[2016-03-24 20:28] #70 closed

[2016-03-27 21:58] pavanky opened #72 "dims not working on 32 bit versions"
Relevant info: https://github.com/arrayfire/arrayfire/issues/1365

[2016-03-28 00:14] colbyshores commented on #72
I took a shot in the dark here and it appears the issue resides in ct.c_longlong as it is a 64 bit value.  I changed util.py's dim4 method on line 15 to

[code]

from

[code]

and then the hello world program executed properly.

Im going to find and replace all instances with a 32bit long in the code if the only impact will be performance and memory allocation due to the 32bit map.

[2016-03-28 13:05] pavanky commented on #72
@colbyshores I knew what the issue was when you reported the bug. But simply changing longlong to long will break on windows. I need to fix it in a more proper manner.

[2016-03-28 13:33] ghisvail commented on #72
Since in AF, `dim4` is defined as an aggregate of four `dim_t` and `dim_t` is arch-dependent then the proper fix may be to define a `c_dim_t` in the Python API and use it in the utility function?

[2016-03-28 13:36] pavanky commented on #72
@ghisvail That's the plan. I am just a bit surprised that I did not do that yet.

[2016-03-28 13:52] ghisvail commented on #72
Let me know when you have a fix committed and I'll apply it to the packaging. Unless you plan to make a new release soon with the fix.

[2016-03-28 21:15] pavanky commented on #72
This is fixed in master.

[2016-03-28 21:15] #72 closed

[2016-03-28 21:57] pavanky commented on #72
@colbyshores This fix is now both in devel and master. Can you check if this works for you ?

[2016-03-29 02:56] colbyshores commented on #72
Looks great on the dims!  Many examples work now.  The examples that segfault are those in graphics: cos, sin, maxof, constant.  Should I create a new bug report for these?

[2016-03-29 03:04] pavanky commented on #72
Hmm I ran the tests and all of them passed. Forgot to run the tests though..

[2016-03-29 03:08] pavanky commented on #72
@colbyshores looks like the graphics examples themselves are a bit buggy. Is there any stand alone code that will reproduce the segfaults ? Can you also print the output of `af.info()` ?

[2016-03-29 15:50] colbyshores commented on #72
You're right, it looks like all the methods are working except the close() method for window handling at a glance, though since you mentioned the buggy graphics I am sure you already aware of it.

ArrayFire v3.3.1 (CUDA, 32-bit Linux, build f53efc3)
Platform: CUDA Toolkit 6.5, Driver: CUDA Driver Version: 6050
[0] GK20A, 4018 MB, CUDA Compute 3.2

[code]

[2016-03-29 16:10] pavanky commented on #72
@colbyshores I'll look into fixing this. Thanks for taking time to reproduce the issues.

[2016-03-29 21:45] colbyshores commented on #72
No problem, thanks for your help too.

[2016-04-03 18:17] ZacDiggum opened #74 "upgrade problems"
Hi there,
today I upgraded af_python via pip. I uninstalled the devel version previously installed with setup.py install. Then installed with pip. Afterwards I tried to do simple_tests.py from the devel package. I got 'Intel MKL FATAL ERROR: Cannot load mkl_intel_thread.dll.' My af-python based application executes without any result, no error message, no sign of doing calculations, no nothing. I

[2016-04-03 18:26] shehzan10 commented on #74
So `mkl_intel_thread.dll` is a dependency of MKL that is loaded when needed. That is, it won't error out if it is not found in path when the application starts. The application is allowed to run until the dll is required to be loaded. That's why you are seeing af.info work fine.

Can you ensure that the examples shipped with ArrayFire are working correctly? There are prebuilt examples in `AF_PATH/

[2016-04-04 11:10] ZacDiggum commented on #74
Okay, I got it. Stupid me. In the pip version of af_python as well as in the devel branch the issue concerning `.__del__()` #70 is unchanged. FilipeMaya suggested setting the array value to 0 after releasing. I did that myself in my distro and del worked that way. Inserting `self.arr.value = 0` as last line in del solves the problem. Could you change it in the source?

[2016-04-04 11:35] pavanky commented on #74
Hmm, I am not sure how this is affecting MKL..

[2016-04-04 11:45] ZacDiggum commented on #74
I get the mkl message when executing simple_tests.py. I tried to change the backend to cpu in my code (at the very beginning) but I get an error message:
[code]

[2016-04-04 11:51] pavanky commented on #74
@ZacDiggum switching the backend should be the first thing you do in the code for now.

Is the MKL error happening anytime you run `simple_tests.py` ?

[2016-04-04 11:55] ZacDiggum commented on #74
I'm changing the backend as very first statement after the imports (line 5) and I get the error.
simple_tests shows me all tests passed and the mkl message comes as last line of output. Every time.

[2016-04-04 12:21] ZacDiggum commented on #74
I inserted `af.set_backend('cpu',unsafe=True)` as first line in bench_blas.py. I get the mkl error and the script crashes.

[2016-04-04 12:27] pavanky commented on #74
@ZacDiggum do you have other versions of MKL installed on your system by any chance?

[2016-04-04 12:27] ZacDiggum commented on #74
Scilab comes with mkl but the path isn't exposed system-wide. It's just in the Scilab folder.

[2016-04-04 12:33] ZacDiggum commented on #74
Nope, that wasn't it. I uninstalled Scilab and reinstalled af again. No changes.

[2016-04-04 13:02] ZacDiggum commented on #74
I should mention that afpath/examples/benchmarks/blas_cpu.exe works flawless.

[2016-04-04 13:07] pavanky commented on #74
@ZacDiggum Can you print the output of `af.info()` from python and `af::info()` from c++ ?

[2016-04-04 13:25] ZacDiggum commented on #74
af.info() and blas_cpu.exe both give
[code]

[2016-04-04 14:10] pavanky commented on #74
@ZacDiggum What python distribution are you using ?

[2016-04-04 18:44] ZacDiggum commented on #74
Python 3.5.1. It's a 'portable' distro ([Winpython](https://winpython.github.io)), but python path is in the environment variables. Custom changes include installing af_python and afnumpy as well as the most recent numpy+mkl from [here](http://www.lfd.uci.edu/~gohlke/pythonlibs/#numpy). Numpy+mkl also distributes mkl libs in its `core` directory. This is the second occurrence of mkl on my system I

[2016-04-04 18:47] ZacDiggum commented on #74
Arrayfire's mkl is v11.3.1.1 and numpy's mkl is v11.3.2.1...But numpy shouldn't expose it's core folder to any paths outside.

[2016-04-04 18:49] shehzan10 commented on #74
Yeah I was suspecting that there might be a different copy of MKL.
MKL loaded the dlls from local files. So if ArrayFire was picked up by the numpy MKL, then its going to try and load the numpy thread.dll (which may not be present).

One way to be sure is to use Process Explorer. Put a pause in your af-python project and check the application in Process Explorer. It should be able to tell you the

[2016-04-04 18:55] ZacDiggum commented on #74
I'll try that in a sec. But `mkl_intel_thread.dll` is present in the numpy folder. That's where I got the version number from.

[2016-04-04 18:57] shehzan10 commented on #74
So maybe it's trying to load the specific version of thread.dll which is causing a mismatch? I think there was a previous issue that some other user was having similar to this (not with python/numpy though)

[2016-04-04 19:02] ZacDiggum commented on #74
Hm, numpy 1.10.4 also ships with mkl 11.3.2.1. Now I'm back to my originally working config with the only difference being the update of af_python.

[2016-04-04 19:14] ZacDiggum commented on #74
I'm giving up for now. OpenCL backend works and CPU backend works also for everything non-MKL. My config now is af v3.3.1, af_python v3.4, Numpy+mkl v1.11.0, Python v3.5.1. If you have any further ideas or want me to try something out, let me know.

[2016-04-04 19:28] ZacDiggum commented on #74
Okay, I did a funny thing. I copied all MKL files from numpy (newer) into af's lib (older) directory. Now it seems to work. Plus I have a newer MKL version within af now. :-)

[2016-04-05 09:44] ZacDiggum commented on #74
I read the MKL 11.3.2 release notes. The first point states:

Could that be helpful with keeping two MKL installations separate?

[2016-04-05 14:57] shehzan10 commented on #74
I don't think that's relevant here. [mkl_finalize documentation](https://software.intel.com/en-us/node/610261).

Neither do we link statically nor do we load/unload explicitly. It's what MKL does internally.

[2016-04-05 15:24] ZacDiggum commented on #74
I see. Should I close this issue since it's more of a python+numpy+arrayfire related conflict?

[2016-04-05 18:12] pavanky commented on #74
We should perhaps look into reproducing this and try and fix it properly..

[2016-04-05 22:51] pavanky commented on #74
@ZacDiggum can you give one last info on what arrayfire-python works and what doesn't ?

From what I can tell devel is working but the latest release from master isn't ?

[2016-04-06 03:49] ZacDiggum commented on #74
Devel is working, the problem was my usage of `.__del__()` without setting the value to 0 after release. I changed it and my app is working again. The problem is the conflict between the MKL files in Arrayfire and the ones in the MKL enabled Numpy from Christoph Gohlke's website. It seems like the MKL inside Numpy is picked up first and that prevents the CPU backend from loading its own MKL dlls p

[2016-04-06 04:42] pavanky commented on #74
OK. I think the problem can only be fixed in upstream arrayfire library by using a static library or by using [side by side assembly](https://msdn.microsoft.com/en-us/library/windows/desktop/ff951640(v=vs.85).aspx).

[2016-04-06 04:42] #74 closed

[2016-04-06 10:05] FilipeMaia opened #75 "Crashes when running on Travis"
I'm getting unexplained crashes when running on Travis, which makes debugging hard.
The following commit FilipeMaia/arrayfire-python@12a345d1607de11071ebf0ab8115fd4c3ddd620b (which is basically devel plus adding Travis using a small fft2 benchmark test) sometimes cases the crash (but it's not deterministic).
You can find an example of the crash at https://travis-ci.org/FilipeMaia/arrayfire-python/

[2016-04-06 10:54] FilipeMaia commented on #75
And now a core dump with line numbers:
https://travis-ci.org/FilipeMaia/arrayfire-python/jobs/121111434

[2016-04-06 13:03] shehzan10 commented on #75
One thing I noticed is that you are doing `cd ${HOME}/build/FilipeMaia/arrayfire-python`.

Shouldn't it be without the build, ie  `cd ${HOME}/FilipeMaia/arrayfire-python`? Cuz the cd command seems to be the first point of failure.

[2016-04-06 13:05] FilipeMaia commented on #75
The `cd` is correct. Why do you say it is the first point of failure? In both cases you have:
`The command "cd ${HOME}/build/FilipeMaia/arrayfire-python" exited with 0.`

[2016-04-06 13:19] shehzan10 commented on #75
Oh my bad. I ignorantly mistook it to be an error.

I'm not completely sure whether debug built type disables the CPU async, so you could try adding `-DBUILD_CPU_ASYNC=OFF` when building arrayfire.

[2016-04-06 13:48] FilipeMaia commented on #75
Turning off cpu async seems to resolve the issue. Looks like it's not be a tricky issue to track...

[2016-04-18 20:01] ZacDiggum opened #76 "may be useful: phase unwrapping"
Hi,
I implemented a fast and noise-robust phase unwrapping method based on DCTs for AF's python wrapper. You can find the code and info about the corresponding [publication](http://www.mdpi.com/2313-433X/1/1/31) in the attached zip.
The DCT originates from [here](http://fourier.eng.hmc.edu/e161/lectures/dct/node2.html) and is normalized to reproduce results like [Scipy's DCT II and III](https://do

[2016-04-27 03:16] bscully opened #77 "NumPy Array to AF Array"
data=np.random.random(size=(100,100))
af.np_to_af_array(data)

gets error:
    af.np_to_af_array(data)
  File "C:\Python27\lib\site-packages\arrayfire\interop.py", line 53, in np_to_af_array
    res = Array(in_ptr, shape, in_dtype)
  File "C:\Python27\lib\site-packages\arrayfire\array.py", line 428, in __init__
    raise TypeError("src is an object of unsupported class")
TypeError: src is an objec

[2016-04-27 03:57] pavanky commented on #77
@bscully Can you tell me how you installed arrayfire python wrapper?

[2016-04-27 11:53] bscully commented on #77
pip install arrayfire

Should I try another way?

On Apr 26, 2016, at 11:57 PM, Pavan Yalamanchili <notifications@github.com<mailto:notifications@github.com>> wrote:

@bscully<https://github.com/bscully> Can you tell me how you installed arrayfire python wrapper?

-
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub<https://github.com/arrayfire/arr

[2016-04-27 12:49] pavanky commented on #77
@bscully can you print out the output of `isinstance(data.ctypes.data, int)`

[2016-04-27 13:35] bscully commented on #77
isinstance(data.ctypes.data, int)
Out[58]: False

From: Pavan Yalamanchili [mailto:notifications@github.com]
Sent: Wednesday, April 27, 2016 8:50 AM
To: arrayfire/arrayfire-python <arrayfire-python@noreply.github.com>
Cc: Ben Scully <bscully@alphaparity.com>; Mention <mention@noreply.github.com>
Subject: Re: [arrayfire/arrayfire-python] NumPy Array to AF Array (#77)

@bscully<https://github.com/bs

[2016-04-27 13:46] pavanky commented on #77
@bscully output of `type(data.ctypes.data)` please.

Can you also let me know if you are using a different python distribution ?

[2016-04-27 13:47] pavanky commented on #77
@ZacDiggum I assume you are also on windows but are not seeing this issue?

[2016-04-27 13:51] bscully commented on #77
type(data.ctypes.data)
Out[61]: long

I'm running everything on windows and it's the standalone version, ie not anaconda or enthought etc

[2016-04-27 14:26] bscully commented on #77
Update:
The calculation examples work but not the graphics.
convolve.py
full      2D convolution time: 1.67066 ms
separable 2D convolution time: 1.58442 ms

intro.py  (only kept the first several lines)
---- Intro to ArrayFire using signed(s32) arrays ----
---- Sub referencing and sub assignment

ArrayFire v3.3.2 (CUDA, 64-bit Windows, build f65dd97)
Platform: CUDA Toolkit 7.5, Driver: CUDA Driver

[2016-04-27 14:34] pavanky commented on #77
looks like the original error only happens on windows + python 2.7. I will try to patch this in and make a release today.

[2016-04-27 23:25] pavanky commented on #77
Fixed in devel.

[2016-04-27 23:25] #77 closed

[2016-04-27 23:27] pavanky commented on #77
@bscully This does not fix the graphics issues. If you are still having those errors, please create a new issue for it.

[2016-04-27 23:28] pavanky commented on #75
@FilipeMaia can we close this issue?

[2016-04-28 01:51] bscully commented on #77
Uninstalled, ran pip install and now it works!!
Interestingly when i tried compiling the master branch which looks to be version 3.4, it did not work. Does that make sense?

Either way, the current pip install is working great - thanks so much!

And as for the graphics error, will log another case.

[2016-04-28 01:58] pavanky commented on #77
@bscully If you are using the command from the README (or use git clone), it uses `develop` branch not `master`. I patched this only in `master` so far. I will merge it into `devel` soon.

[2016-04-28 02:05] bscully opened #78 "examples/graphics - "OS call failed""
In the example files (surface, conway, etc), I am unable to run them due to an error:

runfile('C:\\Users\\Ben\\Desktop\\surface.py')
Traceback (most recent call last):
  File "C:\Python27\lib\site-packages\IPython\core\interactiveshell.py", line 3066, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-5-19d8454c12e0>", line 1, in <module>
    runfile('C:\\Use

[2016-04-28 02:20] shehzan10 commented on #78
There should be precompiled examples in the AF_PATH/examples/graphics directory. Can you try running those?

Note: For CUDA examples, you will need to copy the NVVM DLL or add it to PATH.

[2016-04-28 02:34] pavanky commented on #78
@bscully do you have the display connected to the NVIDIA GPU ?

[2016-04-28 02:35] bscully commented on #78
surface_cpu.exe ran and an animated plot appeared.
surface_gpu.exe gave this error, "
C:\Program Files\ArrayFire\v3\examples\graphics>surface_cuda.exe
ArrayFire v3.3.2 (CUDA, 64-bit Windows, build f65dd97)
Platform: CUDA Toolkit 7.5, Driver: CUDA Driver Version: 7050
[0] GeForce GT 610, 2048 MB, CUDA Compute 2.1
60 60 1 160 60 1 1
ArrayFire Exception (Internal error:998):
In function cudaGraphicsR

[2016-04-28 02:37] bscully commented on #78
I do not, my display is connected to another driver

[2016-04-28 03:26] pavanky commented on #78
@bscully We do not have a graphics fallback option in CUDA backend. You need the display connected to the NVIDIA GPU

[2016-04-28 07:23] FilipeMaia commented on #75
Yes absolutely.

[2016-04-28 07:23] #75 closed

[2016-04-28 12:02] bscully commented on #78
Thanks!

I suggest a more detailed error message or a check for this scenario, it cannot be that uncommon.

On Apr 27, 2016, at 11:27 PM, Pavan Yalamanchili <notifications@github.com<mailto:notifications@github.com>> wrote:

@bscully<https://github.com/bscully> We do not have a graphics fallback option in CUDA backend. You need the display connected to the NVIDIA GPU

-
You are receiving this beca

[2016-04-28 14:15] pavanky commented on #78
@bscully I agree. We'll need to fix it upstream. I am closing the issue here.

[2016-04-28 14:15] #78 closed

[2016-05-02 19:44] pavanky commented on #77
@bscully FYI,  I just merged the fixes into devel branch as well.

[2016-05-11 09:57] ZacDiggum opened #81 "__array_priority__ regression"
Hi,
I just installed the third v3.3 bugfix release. The problem with adding / multiplying numpy scalars and af arrays somehow came back. See the discussion with @FilipeMaia, issue #69.
Try something like:
[code]
b will be a numpy array. Back then, Filipe changed the `__array_priority__` attribute.

[2016-05-11 10:05] ZacDiggum commented on #81
I just noticed this only happens in the version with [this version](https://github.com/arrayfire/arrayfire-python/releases/tag/3.3.2016010) which is master, I guess. Devel works fine.

[2016-05-11 14:15] pavanky commented on #81
@ZacDiggum I don't think I ever merged that into master.. That PR was sent to devel.

[2016-05-11 16:57] ZacDiggum commented on #81
:-) Are you going to merge it?

[2016-05-11 20:09] pavanky commented on #81
@ZacDiggum I am going to do it. I have come across a couple of other minor issues as well that need to be resolved.

[2016-05-11 22:32] pavanky commented on #81
I'll close it when the issue is resolved. Makes sure I am keeping track of things :)

[2016-05-16 04:36] pavanky commented on #81
Ok this is now fixed :) sorry about the delay. I hit a bug when testing with unified backend and it ended up being an upstream bug in arrayfire itself :)

[2016-05-16 04:36] #81 closed

[2016-05-24 11:57] andyofmelbourne opened #82 "fft2 (and fft3) segmentation fault when using opencl with a cpu device"
Problem:
[code]

Does work with gpu device:
[code]

[2016-05-24 12:31] pavanky commented on #82
@andyofmelbourne That's a bug in the Intel's OpenCL driver which should be fixed in the latest versions.

Can you check if you have the latest Intel OpenCL driver ?

[2016-05-24 12:32] pavanky commented on #82
BTW, if you want to use CUDA, you will need to `export LD_LIBRARY_PATH=/usr/local/cuda/nvvm/lib64:$LD_LIBRARY_PATH`.

[2016-05-24 12:33] andyofmelbourne commented on #82
OK, so the amd version of opencl does not seem to suffer from this problem:
[code]

[2016-05-24 12:38] andyofmelbourne commented on #82
Hey pavanky, it was intel opencl version 3.2.10
[code]
By the way this is no longer a show stopper for me personally, so this just for your information.

[2016-05-24 13:35] pavanky commented on #82
@andyofmelbourne looks like this is from 2012. There's been 2-3 releases since then. I am closing the issue since it is just a matter of upgrading the driver.

[2016-05-24 13:35] #82 closed

[2016-05-24 13:35] pavanky commented on #82
BTW AMD's CPU implementation is far slower than Intel's CPU implementation of OpenCL. You may want to upgrade to the latest version.

[2016-05-24 15:21] andyofmelbourne commented on #82
Thanks pavanky!

[2016-05-26 09:31] maodayezheng opened #83 "could not find function af_get_active_backend in library"
Hello ! I am trying to create an Julia ArrayFire wrapper by following this python implementation, but I got a small error when I trying to call af_get_active_backend function. The error message says that "could not find function af_get_active_backend in libaf". So I am just wondering where can I actually find this function ?

[2016-05-26 14:49] pavanky commented on #83
@maodayezheng There are two: `af.backend.name` and `af.get_backend()`

[2016-05-26 14:49] #83 closed

[2016-05-26 15:01] pavanky opened #84 "Poor slicing performance compared to NumPy"
reported by @floopcz on over here: https://github.com/arrayfire/arrayfire/issues/1428

ArrayFire slicing seems to suffer from a performance issue. Consider the following python code, that:
- calculates the dot product of two matrices, first using NumPy, than ArrayFire
- calculates each column/row of the dot product separately by slicing a single column/row from one of the matrices

[code]

The res

[2016-05-26 15:27] pavanky commented on #84
@floopcz Thanks for bringing this to our attention. It looks like the issue might be with the `af.Index` class. I will look into it.

[2016-05-26 20:19] FloopCZ commented on #84
@pavanky Thank you for such a swift response! I am sorry for reporting in the wrong repository. I have performed a similar experiment in C++ instead of Python and the core library seems to be unaffected indeed:
[code]
I have also compared the NumPy parts of the script and the ArrayFire parts of the script separately in the profiler, if it is of any help:
[code]
[code]

[2016-05-26 21:06] FloopCZ commented on #84
One more thing to consider. When I run the benchmark written in C++ on my GPU, the slicing performance is also very poor. C++ source: https://gist.github.com/FloopCZ/33d764d5f1c45505e2d8716d519e5e9c

[code]
However, my GPU is kind of outdated so it might be an expected behavior.

[2016-05-26 23:32] pavanky commented on #84
@FloopCZ slicling along first dimension is going to be in arrayfire because arrayfire is column major. The column major time comes out to be about 0.07ms per iteration which is probably as low as you can go on a gpu. The time is going to scale better if you use a larger size along the first dimension.

[2016-05-29 08:51] FloopCZ commented on #84
Thank you, I will prefer to have the last dimensions fixed when slicing, whenever it is possible.

[2016-05-29 13:22] FloopCZ commented on #84
Just a little more analysis. Consider the following code, which again calculates the dot product of two matrices column by column:
[code]
Let us profile its function calls:
[code]
The results are following:
[code]
The largest amount of time was spent in the _create_empty_array function, which was called 1024002 times (which is correct: 2 initial random arrays + 512 columns * 1000 iterations * 2 (o

[2016-05-29 19:25] pavanky commented on #84
@FloopCZ Thanks for digging into this! There are a few helper functions that I implemented in python before they were implemented in upstream library. May be some of this overhead can be reduced by using upstream versions. I also need to look into improving the performance of the python code itself if needed.

[2016-06-01 22:28] FloopCZ commented on #84
This one might be related: arrayfire/arrayfire#1437.

[2016-06-02 02:14] pavanky commented on #84
@FloopCZ can you test after pulling in https://github.com/arrayfire/arrayfire/pull/1438 ?

[2016-06-04 17:09] FloopCZ commented on #84
Unfortunately, even after arrayfire/arrayfire#1440, the results stay the same.

[2016-06-23 05:53] landersson opened #86 "Create Non Owner Array"
Hi,

One thing I'd like to be able to do is temporarily wrap a raw CUDA memory buffer as an ArrayFire Array, without having the Array trying to deallocate this buffer when it goes out of scope.
[code]
I've been looking around the code a bit without discovering a proper way to achieve this. Did I miss something?  If not, maybe a `is_owner` parameter to the Array constructor could solve this problem

[2016-06-23 06:12] pavanky commented on #86
Hi,

If you are using PyCUDA, this should already happen when transfer the array to arrayfire using `af.to_array`. If you are allocating using other means, you can always call `af.lock_array(ar)` which ensures arrayfire does not free the memory when array goes out of scope.

[2016-06-23 06:13] pavanky commented on #86
And yes I have plans to add a new parameter in the future release. I did not realize this to be a hotly requested feature (it has been requested a few times in the C++ library as well)

[2016-06-23 06:22] landersson commented on #86
But `af.to_array` will allocate a new buffer and copy the contents of the given (pycuda) gpu array into that. I'd like to avoid that copy.

[2016-06-23 06:26] pavanky commented on #86
@landersson then you can simply call `af.lock_array` after creation. That should take care of what you are asking.

[2016-06-23 06:35] landersson commented on #86
Yep, that solves my problem. Thanks!

[2016-06-23 06:37] #86 closed

[2016-07-12 13:34] fpierfed opened #88 "Error running fractal example"
Hi there,

I have built the latest devel git branch of arrayfire and arrayfire-python on Mac OS X 10.11.5 using clang/llvm 7.3.0 mkl 2016.3.170 and coda 7.5. I am using Python 3.5.

I get the following error from fractal.py:

[code]

I should also add that my card is a GeForce 750M with 2GB of memory on a MacBook Pro.

[2016-08-24 14:52] ghisvail opened #89 "Test failures on i386"
The complete build log is available [here](https://tests.reproducible-builds.org/debian/rb-pkg/unstable/i386/python-arrayfire.html).

All errors are of the form:
[code]
This is using the latest stable releases of AF and AF-Python.

[2016-08-30 02:19] pavanky opened #90 "Switch to a functional backend"
Instead of switching to a backend that loads, try running a function and fallback until the appropriate backend works.

[2016-08-30 02:20] pavanky opened #91 "Wrapper bugs"
- [ ] `.H` is passing wrong parameter to transpose
- [ ] `qr` is calling `af_lu`

[2016-09-06 13:46] lukasbindreiter opened #92 "Numpy Interoperability Issues with certain datatypes"
There appears to be some issue regarding the interoperability between numpy and arrayfire-python regarding certain data types.
I did the conversion using the methods:
[code]
The only two data types which appear to work as intended are `float` and `double` (`f32` and `f64` in Arrayfire, `np.float32` and `np.float64` in numpy).

64 bit integer values (signed and unsigned) and bool appear to be not s

[2016-09-11 05:08] pavanky commented on #92
Hmm this is weird. This works just fine on Linux..

[2016-09-11 06:19] #91 closed

[2016-09-11 06:19] #92 closed

[2016-09-11 06:23] pavanky commented on #92
@lukasbindreiter This is fixed in devel

[2016-09-15 19:12] ghisvail commented on #89
Any idea where this could come from?

[2016-09-15 21:11] pavanky commented on #89
@ghisvail going to set up a 32 bit VM to test this out soon.

[2016-09-16 00:06] pavanky commented on #89
@ghisvail

I tried the following combinations and all of them worked:

- arrayfire devel , python wrapper master - Passed
- arrayfire devel , python wrapper devel - Passed
- arrayfire 3.3.2, python wrapper master - Passed
- arrayfire 3.3.2, python wrapper devel - Passed

Can you tell me what combination you are trying ?

[2016-09-16 00:11] pavanky commented on #89
I just realized I did not release the latest master on github. I tried the version you are trying (3.3.20160516) and that worked too.

[2016-09-16 00:24] pavanky commented on #89
Also tried it with arrayfire v3.3.0. This does not seem to be a problem.

(I have been testing these on a 32 bit ubuntu 16.04 VM)

[2016-09-16 01:08] dela3499 opened #96 "Error on af.info()"
I just followed the installation instructions, and I got the following error when calling `af.info()`. Any recommendations?
[code]

[2016-09-16 02:00] pavanky commented on #96
Did you export `AF_PATH` to point the the arrayfire installation ?

[2016-09-16 10:02] ghisvail commented on #89
I have updated the packaging and the issue does not appear anymore on the [build](http://debomatic-amd64.debian.net/distribution#unstable/python-arrayfire/3.3.20160624-1/buildlog) machine. Not sure what happened on the reproducibility testing machines.

Closing.

[2016-09-16 10:02] #89 closed

[2016-09-16 14:20] pavanky commented on #88
This has been fixed upstream in arrayfire 3.4.0 release.

[2016-09-16 14:20] #88 closed

[2016-09-23 19:13] pavanky opened #100 "Add new functionality from arrayfire 3.4"
Graphics

- [x] ~~Deprecate old API for plot and surface~~ unnecessary
- [x] Add new API for plot and surface
- [x] Add support for vector fields
- [x] Add support for setting axis limits

-------------

Random number generation

- [x] random_engine class
- [x] set_type method
- [x] get_type method
- [x] set_seed method
- [x] get_seed method
- [x] set_default_random_engine_type
- [x] get_default_r

[2016-09-23 19:17] pavanky commented on #96
@dela3499 I am closing the issue for now. If you are still facing the issue please let me know.

[2016-09-23 19:17] #96 closed

[2016-09-24 01:36] #90 closed

[2016-09-24 01:36] #100 closed

[2016-09-24 06:11] pavanky commented on #51
@FilipeMaia https://github.com/arrayfire/arrayfire-python/commit/d8db269942e92a9eeab482d1dc5b3d6788e31122 changed the behavior to pick the first *working* backend instead of the first backend that can be loaded.

This is fundamentally different behavior than what is expected here. We could add a function to display debug info that will tell you if a library was found but can not be run for whateve

[2016-09-25 03:40] pavanky commented on #26
This is fixed in devel.

[2016-09-25 03:40] #26 closed

[2016-09-25 09:38] FilipeMaia commented on #51
I think that's a good solution.

[2016-10-07 12:35] ZacDiggum opened #102 "add uint16 to numpy interop"
in `interop.py`: `_nptype_to_aftype` please add:
`'u2' : Dtype.u16,`
Thanks...

[2016-10-07 17:50] pavanky commented on #102
do you want to send a PR to master ?

[2016-10-13 07:47] #102 closed

[2016-11-25 10:16] mmllee opened #104 "another memory leak in indexing ? arrayfire+python"
It seems there's a leak while using arrayfire with python bindings
way to reproduce a bug:

[code]

on my machine initially takes 738 MB but after 10000 iters it takes 944 MB

It's pretty clear the leak must be somewhere in the indexing

i compiled arrayfire (62dc920) myself on ubuntu 16.04 vanilla, python bindings (cafc208)

initially i reported it here: https://github.com/arrayfire/arrayfire/iss

[2016-11-26 08:10] pavanky commented on #104
@mmllee Just an update.

I have been able to reproduce this bug in the python wrapper but not in the C++ version. I am digging further into the issue.

[2016-11-26 08:28] pavanky commented on #104
Hmm on the other hand, there is no memory leak if I comment out `af_index_gen` from `array.py`. It is weird that the following code doesn't produce a memory leak in simple C code

[code]

[2016-11-26 08:49] pavanky commented on #104
@mmllee after looking closely into your valgrind output, I think I found the problem :) Thanks for posting that.

This is a bug that should affect almost all functions and I am not sure when it was introduced.  But I think this is an easy fix that should be done fairly soon.

[2016-11-26 09:06] pavanky commented on #104
@mmllee can you try the fix from https://github.com/arrayfire/arrayfire-python/pull/105 ? I'll be testing a bit and merge another fix from devel and releasing a bugfix release tomorrow if everything is OK.

[2016-11-26 10:10] mmllee commented on #104
@pavanky thanks a lot for looking into it so promptly. #105 fixes the leak.
After isolating the leak even to a single index access I was quite puzzled.
As you found out it was not only the index but actually almost every single function in python was affected by it. Strange that noone noticed before.

[2016-11-26 10:40] pavanky commented on #104
@mmllee The leak may have always existed, but the size of the leak may have increased recently with a combination of things changing upstream and the python wrapper.

Once again, thanks for taking the time to point this out.

While debugging this, I also noticed that indexing is extremely slow (compared to pure C) as discussed here: https://github.com/arrayfire/arrayfire-python/issues/84.

I am tr

[2016-11-27 01:57] pavanky commented on #104
Fixed in master.

[2016-11-27 01:57] #104 closed

[2016-12-06 22:50] itsnarsi opened #106 "Bugs in graphics functions"
This my code:
`
X = af.image.load_image(F[0],is_color=True)

win = af.Window(1280, 768, "imshow")
win.image(X)
`

It is throwing following error:

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-13-86b29a551953> in <module>()
----> 1 win.image(X)

/home/narsi/anaconda3/lib/python3

[2016-12-06 23:26] pavanky commented on #106
@itsnarsi can you check if you can run the histogram example ?
https://github.com/arrayfire/arrayfire-python/blob/devel/examples/graphics/histogram.py

[2016-12-06 23:32] itsnarsi commented on #106
It is throwing following error:

Traceback (most recent call last):
  File "histogram.py", line 19, in <module>
    raise RuntimeError("Expected to the image as the first argument")
RuntimeError: Expected to the image as the first argument

[2016-12-06 23:38] pavanky commented on #106
@itsnarsi thanks I'll look into it in a few hours.

[2016-12-14 06:48] pavanky commented on #106
@itsnarsi Sorry about the delay. I tried both native python3 and python2 (I don't have access to anaconda). The code seems to work.

Can you print the output of `af.info()`?

[2016-12-14 06:49] pavanky commented on #106
@itsnarsi can you also run the your program by setting the following environment variable:

[code]

[2016-12-22 17:25] krisrub opened #107 "Core dumped using where function"
Using this code:

[code]
It aborts the python interpreter and you get a core dumped message, instead of an exception.

Info output:
[code]

[2016-12-29 05:23] pavanky commented on #107
@krisrub This has been fixed upstream a couple of versions ago. Can you upgrade both arrayfire and arrayfire-python and try again ?

[2016-12-29 05:23] #107 closed

[2016-12-29 15:02] krisrub commented on #107
Hi
I have upgraded to version 3.4 and now it works great!
Thanks.

[2017-01-03 08:08] unbornchikken commented on #54
I don't believe that it will ever be possible to run AF Python efficiently on PyPy, because of [handling of `__del__` differences](http://doc.pypy.org/en/latest/cpython_differences.html#differences-related-to-garbage-collection-strategies).

CPython will call `__del__` as soon as a scope completes, exactly like C++. So it's not *aware* of GPU resources, it simply releases temporaries as soon as po

[2017-01-03 09:44] pavanky commented on #54
This is frustrating. Some days I just want to yell "Just use C++ if you want to use the GPU".

[2017-01-03 11:44] unbornchikken commented on #54
Or CPython. :) It's not a miracle why it's so popular in this field.

[2017-01-05 12:20] thedrow commented on #54
So PyPy will never be supported?

[2017-01-05 12:28] unbornchikken commented on #54
It's impossible to support with the current design. For GC-s you're gonna need some explicit scoping mechanism, like [that I use in Node.js](https://github.com/cmake-js/fastcall#raii). Or we could beg for PyPy developers to call `__del__` on scope exit like CPython does.

[2017-01-05 17:24] pavanky commented on #54
@thedrow It'll be supported as long as we can force call garbage collection. But it will have performance issues that @unbornchikken mentioned. Depending on your application you may or may not notice it.

[2017-01-06 08:14] unbornchikken commented on #54
Yeah, sorry, I missed a word *efficiently* in my previous sentence.

*It's impossible to support **efficiently** with the current design.*

[2017-01-08 10:24] arigo commented on #54
No, CPython will not call __del__ as soon as a scope completes.  It calls __del__ as soon as the last reference to an object disappears, which is very different from C++ (even if in the simplest case it gives the same result).  That's why we can't implement it in PyPy.

You might have some luck in this case by using ``__pypy__.add_memory_pressure(n)``.  It pretends there are n extra bytes allocate

[2017-01-08 11:44] pavanky commented on #54
@arigo Thanks for taking time to comment on this. I think adding memory pressure this way will be a bit better than checking for the number locked references and force calling garbage collection to see if any of them can be cleared.

That said it is a bit hard for library developers like us who have to explain to the users why the performance of our library is *worse* in some cases on a supposedly

[2017-01-08 13:58] arigo commented on #54
Oh yes, implementing a custom garbage collector and plugging it inside an existing system with another very different garbage collector---that sounds easy to invent and exactly like what any library wants to do.  \</sarcasm\> :-)

The current GC in PyPy is not overly complicated, but it took years (and several attempts) for us to reach that point and discover all subtle rare bugs.  There are many

[2017-01-15 03:44] vincentme opened #111 "typo in nearest_neighbour function"
the nearest_neighbour function in vision.py called idx.arr, but the array initialized is index

[2017-01-15 15:46] pavanky commented on #111
@vincentme do you want to send a PR or do you want me to fix it?

[2017-01-15 16:20] vincentme commented on #111
Please go ahead do that. This is my first time report a bug, and not really sure how to fix it.

[2017-01-15 17:12] pavanky commented on #111
@vincentme I am going to fix this, but for future reference you can follow this guide:
https://github.com/arrayfire/arrayfire/wiki/Contribute-code-using-github

It was written for arrayfire library, but the same workflow applies to `arrayfire-python` as well.

[2017-01-17 14:29] unbornchikken opened #115 "Windows - Warning: Program terminating, but clFFT resources not freed."
ArrayFire almost works well on Windows however I'm getting he following message on exit:

[code]

How and when should this method called from Python land?

[2017-01-17 17:48] pavanky commented on #115
This is coming all the way up from clfft. This is because arrayfire does not call clftTeardown() on windows because a few architectures error out. Since It is just a warning we thought it was a fair trade off compared to getting a failure at exit.

[2017-01-17 17:48] #115 closed

[2017-01-17 17:57] pavanky commented on #111
This has been fixed in devel.

[2017-01-17 17:57] #111 closed

[2017-01-17 20:45] unbornchikken commented on #115
How could this warning be suppressed at Python side?

[2017-01-17 21:11] pavanky commented on #115
@unbornchikken it can't

[2017-01-19 03:14] pavanky opened #116 "Interop support for pytorch?"

[2017-01-19 15:40] unbornchikken opened #117 "Massive memory leaks ans slowdowns in IDEs caused by __repr__"
As docs says: http://arrayfire.org/docs/group__print__func__tostring.htm#ga01f32ef2420b5d4592c6e4b4964b863b

User gotta free the returned function. In `array`'s `__repr__` this won't happen, so it leaks by a huge margin, depending on the size of the array.

The other problem is `__repr__` is gonna be called by IDEs like PyCharm to represent our array. If the array is big, its representation will b

[2017-01-19 17:06] pavanky commented on #117
@unbornchikken About `__repr__` only printing the dims, this was what we were doing earlier before `af_array_to_string` was a thing. May be add a comment asking them to use print or display to see the full array ?

Other than that the rest are welcome changes 👍

[2017-01-19 20:30] ajflood opened #118 "approx1 off_grid Error"
When working with the approx1 function I found an error in singal.py.  I found that the off_grid format should be float not double.  I have tested it on my machine and it now works as expected.

Here is the previous code:
`safe_call(backend.get().af_approx1(c_pointer(output.arr), signal.arr, pos0.arr,method.value, c_double_t(off_grid)))`

Which I changed to fix the problem:
`safe_call(backend.get(

[2017-01-19 21:01] pavanky commented on #118
@ajflood The procedure to send in a bug fix can be found here: https://github.com/arrayfire/arrayfire/wiki/Contribute-code-using-github

Please use `arrayfire-python` instead of `arrayfire` wherever required. Let me know if you have any questions regarding the process.

Welcome to the world of open source contributors!

[2017-01-20 17:17] #118 closed

[2017-01-23 21:06] unbornchikken commented on #117
https://github.com/arrayfire/arrayfire-python/pull/120

[2017-01-31 16:01] ghost opened #121 "Arrayfire script requires Python Console to be restarted for multiple runs"
A Python script which calls a function to be solved on the GPU using arrayfire (with nested arrayfire sub-functions) will run fine once, giving the expected answer. However, when it is run a second time in the same Python console it returns NaN values, but does not throw an error at any point. I have tried removing allocated memory using arrayfire.device.device_gc(), and freeing device memory usin

[2017-01-31 16:04] pavanky commented on #121
What are you even trying to do here ??

[2017-01-31 16:29] pavanky commented on #121
If you can show some code that's leaking memory or producing NaN, it'll be helpful. The code you showed does not even work.

[2017-02-02 12:23] itsnarsi commented on #106
Hey @pavanky Sorry for the long delay.I was on a holiday trip and totally forgot about it.

# Out of al.info():
**af.info()
ArrayFire v3.3.2 (OpenCL, 64-bit Linux, build f65dd97)
[0] NVIDIA  : GeForce 840M, 2002 MB**

# AF_PRINT_ERRORS=1 python /path/to/example.py

**Traceback (most recent call last):
  File "loadimg.py", line 6, in <module>
    win.image(X)
  File "/home/narsi/anaconda3/lib/pytho

[2017-02-02 16:09] pavanky commented on #106
@itsnarsi You are using arrayfire 3.3.2 libs. can you update to 3.4.2 ?

Can you also test with regular python instead of anaconda?

[2017-02-02 22:46] itsnarsi commented on #106
@pavanky After update my code started working without any problem in regular python and anaconda. But histogram.py is still giving the same error. And plot3.py is giving following error:

**[0] NVIDIA  : GeForce 840M, 2002 MB
Traceback (most recent call last):
  File "plot3.py", line 32, in <module>
    win.plot3(Pts)
  File "/home/narsi/anaconda3/lib/python3.5/site-packages/arrayfire-3.5.0-py3.5.

[2017-02-06 03:33] AviKav opened #122 "Interop support for Numba?"

[2017-02-06 04:02] pavanky commented on #122
@AviKav Although I have heard of them, I have never used anaconda or numba before. Can you tell me how you think the interop should work ?

[2017-02-06 04:12] pavanky commented on #122
@AviKav From what I can see numba does not have the ability to create arrays from existing device pointers. It also doesn't return device pointers so users can copy to it manually. Any support we add now will have to do a costy two way transfer (arrayfire --> numpy --> Numba).

Unless I am wrong, you will have to create an issue on Numba to support external CUDA libraries.

[2017-02-06 07:56] ShyamSS-95 opened #123 "Conversion from af:Array to scalar"
Is there a Python command to convert an ArrayFire array to a scalar?

Suppose I define `a = af.Array([1,2,3])`. Then, a[1] gives me an af.Array of dimensions [1 1 1 1] containing the value of 2. But how do I get the scalar value of it directly? I'm currently using `af.algorithm.sum(a[1])`

Is there a more direct way to do this?

[2017-02-06 10:14] pavanky commented on #123
@ShyamSS-95 I just realized that is the fastest way for now. The C++ API has `array.scalar<T>()` but that is copying the entire array to the host and then returning one element.

Created an issue upstream to add the necessry functionality: https://github.com/arrayfire/arrayfire/issues/1725

[2017-02-06 10:18] pavanky commented on #123
@ShyamSS-95 Actually in your case, since `a[1]` is just one element, you could do `a[1].to_array()` to get a host array of size `[1]` or `a[1].to_array()[0]` to get a number.

Can you also tell in what scenario you are using this ? Because if you are copying to host costantly, it is better off if you do the copy once and then index the host instead of copying each element individually.

[2017-02-06 12:11] ShyamSS-95 commented on #123
I'm using it in a loop for the implementation of a collision algorithm. Shown below is the code snippet where I've had to convert an af.Array to a scalar.
[code]

[2017-02-06 12:42] pavanky commented on #123
@ShyamSS-95 try this:

[code]

[2017-02-06 21:09] pavanky commented on #106
@itsnarsi Is the histogram issue resolved or did you close the issue because your original issue is resolved?

[2017-02-06 21:15] itsnarsi commented on #106
@pavanky Cause my original and histogram issue is resolved. But plot3.py is still persistent.

[2017-02-06 21:24] pavanky commented on #106
I am reopening the issue with a different name :)

I'll close if everything is resolved.

[2017-02-07 16:04] ShyamSS-95 opened #124 "Slower performance compared to numpy"
In order to test the speed advantages for simple operations like addition and assignment to an array, I ran the following code to compare _numpy_ and the OpenCL backend of ArrayFire.
[code]
I'm getting this as the output:
[code]
Is there something wrong here?

[2017-02-07 16:23] pavanky commented on #124
@ShyamSS-95 I was just talking to @mchandra about this over chat. The reason is because at these sizes, the overhead of kernel launching is much greater than the actual operation in OpenCL.

You should try it by increasing the array sizes and decreasing the number of iterations.

This is what I get at 4096 x 4096 for 1000 iterations:

[code]

[2017-02-07 16:23] #124 closed

[2017-02-08 03:41] pavanky commented on #122
Nevermind, I found `DeviceNDArray` which seems like it should do the trick.

[2017-02-08 11:36] ShyamSS-95 commented on #123
Thanks! It's much easier to write. I wrote the following code to check the effect on speed:
[code]
It runs faster as well:
[code]

[2017-02-08 16:12] pavanky commented on #123
@ShyamSS-95 excellent 👍

af.broadcast allows you to perform elemnt wise operations where the dimensions are not identical. But when you are benchmarking, you need to have `af.eval(x_coordinates_others, y_coordinates_others)` at the end of the loop and an `af.sync()` after the loop.

[2017-02-08 16:12] #123 closed

[2017-02-09 08:37] #117 closed

[2017-02-11 12:20] ShyamSS-95 opened #125 "Doubt regarding use of interpolation function"
I'm a bit confused about the use of the interpolation function `arrayfire.signal.approx1(signal, pos0)`. The documentation states that it accepts 2 arguments: the signal value, and the interpolation points. How can I specify the array which defines the points where the signal has been defined? I'll take an example using the  _numpy_ function `np.interp`:

[code]
How would I approach this using the

[2017-02-11 19:54] pavanky commented on #125
Hmm there are two issues:

1) no direct equivalent of linspace in arrayfire.
2) interp in arrayfire is uniform only so it assumes the input `x` is always 1 to N.

But you can still get the same results you are seeing. You'll just need to scale up `y` to meet this new co-ordinate system.

[2017-02-12 18:32] ShyamSS-95 commented on #125
Alright. That's what I wanted to know. But I'm still not able to understand how I would get the same results. I don't think I've clearly understood how the coordinate system needs to be scaled. This is what I tried:
[code]
I don't seem to be getting the result, though. How should I have done this?

[2017-02-12 21:04] pavanky commented on #125
[code]

[2017-02-12 21:05] pavanky commented on #125
@ShyamSS-95 let me know if that makes sense. BTW you don't need to convert to list to convert numpy to arrayfire.

[2017-02-12 21:09] #125 closed

[2017-02-12 21:13] pavanky commented on #125
I must say I made some mistakes in my older comment as I was in a hurry. Sorry about that. The x values are assumed to be between `0` and `N-1`. Your code seems to follow the instructions I made in my older comment so there was no mistake on your end. I am sorry if this delayed things.

[2017-02-13 06:00] #121 closed

[2017-02-13 07:05] ShyamSS-95 commented on #125
@pavanky Ah OK! It's clear to me now. Thanks

Not a problem at all.

Also, I wanted to know if it's alright for me to run the `af.approx1 ` function inside a gfor loop?

[2017-02-13 07:07] pavanky commented on #125
@ShyamSS-95 you usually don't need GFOR. Can you tell me what you have in mind ?

[2017-02-13 10:26] ShyamSS-95 commented on #125
@pavanky I'm trying to obtain the interpolated values for a field function `field` interpolated at some points `x_interp`. Both `field` and `x_inter` are 2D arrays, where the interpolation needs to be carried out row-wise.
Currently, I'm using something like this:
[code]
Wouldn't using `af.ParallelRange` help in speeding this up?

[2017-02-13 16:08] pavanky commented on #125
@ShyamSS-95

ArrayFire works on each row. If you transformed the data to be along each column, you can simply do the following:

[code]

This performs multiple 1D interpolations along each column.

[2017-02-14 11:10] ShyamSS-95 commented on #125
Ah OK. Thank you
It works well when the data is set along the columns

[2017-02-16 07:40] ShyamSS-95 opened #126 "Regarding reassignment of values in array"
Consider the following segment of code:
[code]
This gives:
[code]
This seems to change all the values of the 2nd column. My intention was to only change the 1st, 2nd and 3rd rows of the 2nd column.

A similar code in _Numpy_:
[code]
Gives the result as:
[code]
How can I get this result using arrayfire?

[2017-02-16 08:42] pavanky commented on #126
There is no easy way to do this in arrayfire. arrayfire-python uses the indexing behavior of arrayfire rather than numpy.

You will need to index `a[c * a.dims(0) + b] = 100`

[2017-02-16 09:47] ShyamSS-95 commented on #126
Ah OK! Thanks
Is there a faster way for me to tell python to access the flattened array? I'm currently doing this:
[code]

[2017-02-16 09:49] pavanky commented on #126
@ShyamSS-95 Is `a[d] = 100` without flattening causing an issue ?

[2017-02-16 09:50] pavanky commented on #126
@ShyamSS-95 while we are at it, can I also ask where you are getting `b` and `c` from ?

[2017-02-16 10:48] ShyamSS-95 commented on #126
Yes. `a[i]` refers to the i-th row. So without flattening, so doing `a[d] = 100` results in all the values getting changed.

I'm getting the arrays which contain the indices from `af.where`. Earlier I used to do something like this:
[code]
Earlier, I was under the assumption that I would have to pass the address in terms of row and column indices. Now, I guess I can perform the reassignment operat

[2017-02-16 16:41] pavanky commented on #126
@ShyamSS-95 That's what I thougt :D

try `f = af.select(x > boundary, f, 0)` for these types of cases. Much simpler than what you are doing. Even numpy has an equivalent function in `np.where`

[2017-02-16 16:43] pavanky commented on #126
@ShyamSS-95 The following also works:

[code]

[2017-02-17 08:56] TejasMane opened #127 "Vectorizing the operation"
Consider the following code segment:

[code]

I want `A[0, 1] = data[0]`, `A[1,1] = data[1]` and `A[0, 2] = data[2]`. There are no patterns present in `x_indices` and `y_indices`.

Working Implementation

[code]

How can I **vectorize** the above operation.

An similar operation in **numpy** can be done in the following manner:

`
A[x_indices, y_indices] = data
`

This would do the required operat

[2017-02-17 09:05] FilipeMaia commented on #127
As far as I know this is currently not possible. It also prevents me from implementing numpy fancy indexing with multiple arrays (what you described) in afnumpy.

[2017-02-17 09:18] TejasMane commented on #127
Thanks, Any smarter workarounds for the same, besides converting the Arrayfire arrays to numpy arrays?

[2017-02-17 09:30] pavanky commented on #127
@TejasMane I assume you are a colleague of @ShyamSS-95 (I am assuming because you forked one of his repos).

He opened an issue about the same topic yesterday: https://github.com/arrayfire/arrayfire-python/issues/126. I am closing this issue, please focus the discussion over there.

Please read through my comments.

@FilipeMaia Hmm, this is indeed tricky. The indexing in the python wrapper is a bi

[2017-02-17 09:30] #127 closed

[2017-02-17 09:39] FilipeMaia commented on #127
Sure, that would be helpful. It might even be useful to do it on the C side.

[2017-02-17 09:45] pavanky commented on #127
@FilipeMaia It is supported in C side. Python behaves differently from C because all missing dimensions in python are assumed to be spans.. Where as in C they are assumed to be 0.

[2017-02-17 10:06] ShyamSS-95 commented on #126
Tried this out. Works like a charm! Thank you

[2017-02-17 10:10] #126 closed

[2017-02-17 10:16] FilipeMaia commented on #127
@pavanky The problem is not the missing dimensions, but the way the arrays are combined.

For example if one has [0,1],[0,1] as the two arrays for numpy this would mean that the coordinates retrieved would be [0,0], [1,1] while for arrayfire it would be [0,0], [0,1], [1,0], [1,1].

How to get the first behaviour using the C API?

[2017-02-17 10:28] pavanky commented on #127
@FilipeMaia I understand the basic problem. I was talking about the work around we use in C / C++, i.e. you can do `A(y * A.dims(0) + x) = val` to do the numpy equivalent of `A[x, y] = val`.

However when you do `A[y * A.dims(0) + x] = val` in arrayfire python, it becomes the C++ equivalent of `A(y * A.dims(0) + x, span) = val`.

[2017-02-17 10:34] FilipeMaia commented on #127
@pavanky Ah ok, understood. But to reiterate, yes a python function to do this would be useful.

[2017-02-22 08:27] pavanky opened #128 "Functions to create external objects from arrayfire"
- [ ] pycuda
- [ ] pyopencl
- [ ] numba
- [ ] pytorh ?

[2017-02-22 08:28] pavanky commented on #122
@AviKav I added support to create arrayfire arrays from numba arrays similar to what is happening for numpy and PyCUDA. I'll need to add functions to go in the other direction.

I am closing this issue and dealing with the reverse transfers over here:
https://github.com/arrayfire/arrayfire-python/issues/128

[2017-02-22 08:28] #122 closed

[2017-02-25 13:51] ShyamSS-95 opened #129 "Bug with af.select when using the OpenCL backend"
There seems to be a bug with the `af.select()` function operating on spliced 2D arrays, when using the OpenCL backend. I've illustrated this with the code below:
[code]
This gives the output as:
[code]
Changing the backend to CPU, however gives the expected answer:
[code]
However if I copy the spliced values into a new array, the output generated by the OpenCL backend is also correct. That is:
[co

[2017-02-25 17:06] pavanky commented on #129
@ShyamSS-95 for now can you use the following as a work around

[code]

[2017-02-25 17:42] pavanky commented on #129
btw this is a bug in arrayfire. I have reported it over here: https://github.com/arrayfire/arrayfire/issues/1730

[2017-02-25 18:35] pavanky commented on #129
@ShyamSS-95 I fixed it in this PR: https://github.com/arrayfire/arrayfire/pull/1731

You can pull those changes and rebuild arrayfire if you don't want to wait.

[2017-02-26 08:35] pavanky commented on #129
@ShyamSS-95 This is fixed in upstream arrayfire.

[2017-02-26 08:35] #129 closed

[2017-02-27 19:51] ShyamSS-95 opened #130 "Possible bug in af.approx1()"
I've written a file comparing the results of the interpolate function in scipy libraries, and arrayfire:

http://nbviewer.jupyter.org/gist/ShyamSS-95/9267f7f860f4ce5aa5ea785c937bbfda

I don't seem to be getting the same result for both the functions.
`af.approx1()` seems to be quite off from the expected curve.

Is there a bug here?

[2017-02-27 21:04] pavanky commented on #130
@ShyamSS-95 can you plot `asin(interpolated - actual)` ?

[2017-02-27 21:05] pavanky commented on #130
@ShyamSS-95 wait that wouldn't work. I keep forgetting my trigonometric formulas :) It looks like the two curves are phase shifted. I'll investigate it once I get home.

[2017-03-01 13:17] jcmgray opened #131 "library import mismatch libforge.so.3 <=> libforge.so.0"
Currently, (with the most recent linux 64-bit binary install of arrayfire and devel branch of `arrayfire-python`), `libforge.so`/`libforge.so.0` is created under `$AF_PATH/lib/` but `arrayfire.library._clibrary.__init__` searches for `libforge.so.3` and cannot find it - preventing `import arrayfire`. For the moment creating a soft link fixes the issue and everything runs fine.

[2017-03-01 17:51] pavanky commented on #131
@jcmgray Thanks for finding the bug! Do you want to send in a PR to fix it ?

[2017-03-01 18:35] jcmgray commented on #131
Sure thing, I've put something together in #132. Abstracting out the major version numbers seemed like the best thing to do, but let me know the if the string replacement thing is a bit hacky.

Also only tested on linux so far.

[2017-03-01 18:51] pavanky commented on #131
That should be fine :D

[2017-03-01 18:51] #131 closed

[2017-03-03 10:38] TejasMane opened #133 "Feature/function request"
Currently, the histogram functions available in `arrayfire.graphics` and `arrayfire.image` don't support the options of `weights` unlike the histogram function available in  numpy libraries. [https://docs.scipy.org/doc/numpy/reference/generated/numpy.histogram.html](url). It would be great if a function similar to the `numpy.histogram` is available in Arrayfire as well.

[2017-03-03 17:10] pavanky commented on #133
@TejasMane That is a feature request for the arrayfire library. Can you open it here: https://github.com/arrayfire/arrayfire

[2017-03-03 18:01] TejasMane commented on #133
ok.

[2017-03-03 18:08] #133 closed

[2017-03-11 04:45] GongYiLiao opened #134 "Slow SVD"
I found AF's SVD implementation is quite slow comparing to DGEMM with Radeon HD 7950/FGLRX driver on Debian Jessie:

`In [47]: from pylab import randn, svd

In [48]: x_0 = randn(1000, 1000)

In [49]: %time y_0 = svd(x_0)
CPU times: user 1.24 s, sys: 1.01 s, total: 2.24 s
Wall time: 287 ms

In [50]: x_1 = af.Array(x_0.ctypes.data, x_0.shape, 'd')

In [51]: %time y_1 = af.svd(x_1)
CPU times: user 3.

[2017-03-11 04:53] pavanky commented on #134
@GongYiLiao can you show the out put of af.info() ?

[2017-03-11 04:58] GongYiLiao commented on #134
`In [91]: af.info()
ArrayFire v3.3.2 (OpenCL, 64-bit Linux, build default)
[0] AMD     : Tahiti, 3035 MB -- OpenCL 1.2 AMD-APP (1912.5) -- Device driver 1912.5 (VM) -- FP64 Support: True -- Unified Memory (False)
-1- AMD     : Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz, 31865 MB -- OpenCL 1.2 AMD-APP (1912.5) -- Device driver 1912.5 (sse2,avx) -- FP64 Support: True -- Unified Memory (True)

In [92]:

[2017-03-16 15:14] ShyamSS-95 opened #135 "Bugs in af.approx1()"
Convergence checks performed on the ArrayFire routines for interpolation seem to indicate a few mistakes:

The following plot is generated using `af.INTERP.CUBIC`
![download 9](https://cloud.githubusercontent.com/assets/19583419/24001222/90a839b2-0a83-11e7-8d61-dac9f4fd45a3.png)

The order of convergence comes out to be ![image](https://cloud.githubusercontent.com/assets/19583419/24001620/abd1cd74

[2017-03-16 16:12] #130 closed

[2017-03-16 16:37] pavanky commented on #135
@ShyamSS-95 can you check with `interpolant_points` being the same with arrayfire and scipy ? Right now they are using different random values.

I don't know how much this affects the actual convergance, but that is one difference I see right now.

[2017-03-16 20:57] ShyamSS-95 commented on #135
I've made the changes to the [code](https://gist.github.com/ShyamSS-95/ad0065e984b76d1ccaecc5e21b425734)  . I'm querying the interpolant at `np.linspace(0, 1, 20)` in both the cases. The problem of arrayfire convergence tests not dropping below `1e-7` is no longer present. However, the order of convergence still isn't correct.

![download 22](https://cloud.githubusercontent.com/assets/19583419/240

[2017-04-21 12:55] pthon opened #138 "Assignment changes values copied, CPU"
Array value assignment changes the copied values when running on CPU using python wrapping:

*a=af.randu(2,2,2)
print a[1]
a[0] =a[1]
print a[1]*

After the assignment, the values of *a[1]* changed unexpectedly. This behaviour is not observed running on CUDA backend.
I am using ArrayFire v3.5.0 (CPU, 64-bit Linux, build 251e942) on Intel(R) Xeon(R) CPU E5-2630 0 and the current python wrapper deve

[2017-04-22 06:43] pavanky commented on #138
@pthon this was a bug in upstream arrayfire. It's been fixed and is available in the devel branch.

[2017-04-22 06:43] #138 closed

[2017-05-10 18:51] FilipeMaia commented on #55
Any hope for this one?

[2017-05-10 19:19] pavanky commented on #55
@FilipeMaia I want to fix this from upstream: https://github.com/arrayfire/arrayfire/issues/482

[2017-05-10 19:21] pavanky commented on #55
@FilipeMaia Waiting on the threading branch to be merged to begin work on this upstream. It helps reduce the number of conflicts and also works nicely with my schedule :)

[2017-05-10 19:29] FilipeMaia commented on #55
@pavanky Ok, thanks for the update!

[2017-05-11 12:37] ShyamSS-95 opened #139 "Error in af.fft2 when using OpenCL backend"
There seems to be some error raised when using `af.fft2` on Arrays of certain sizes.
As far as I've tried out `af.fft2(af.randu(i, i))` at values of `i = 17, 19, 23, 29, 31, 34, 37, 38, 41...` produces the following error:
[code]
However, it works when using the CPU backend.

[2017-05-11 16:03] pavanky commented on #139
clFFT, the library we use for OpenCL backend only supports sizes with prime factors < 13. Is there a particular size you are interested in ? Can you also provide a bit more context on how you are planning to use it ? There may be workarounds available for some use cases.

[2017-05-13 07:34] ShyamSS-95 commented on #139
Ah OK.
I'm using the FFT functions to solve the Poisson equation on a grid. Here is the function where I am using it:
[code]
There's no particular size that I'm looking to solve for. I was surprised that it was failing when I attempted to do consistency checks for different grid resolutions. It's not a big problem - I'll use other resolutions which don't have prime factors < 13

[2017-05-13 14:56] pavanky commented on #139
@ShyamSS-95 fft performs best when the size is a power of 2. If that is a problem try to limit it to smaller prime factors.

[2017-05-13 14:57] #139 closed

[2017-05-18 19:32] itsnarsi opened #140 "Need explanation on when to to use af.eval() and af.sync()"
I am using a function which uses af.broadcast inside it.

When I use the program in windows PC, I do not see any slowdown of the processing using CPU. However, when I use my linux PC which has both CPU and AMD RX 480 GPU, I see the code slow down drastically.

In [Issue#123](https://github.com/arrayfire/arrayfire-python/issues/123#issuecomment-278373628) @pavanky mentioned that to use af.eval and

[2017-05-18 19:55] itsnarsi commented on #140
Ok I need to backup and given proper explanation of what I am doing:
I am trying to create a AutoDifferentiation on top of arrayfire.
[LearnAF](https://github.com/itsnarsi/LearnAF)

- I was able to successfully create the outline and was able to execute it properly.

- Then I went on to create a MLP using this auto-encoder. Started working successfully on my windows PC(CPU only i7 6th gen).

[Jupy

[2017-05-18 19:57] pavanky commented on #140
Hmm, you definitely do not need `af.eval` or `af.sync` in your case.

[2017-05-18 19:58] itsnarsi commented on #140
Can you help me understand exactly how they work?

[2017-05-18 20:03] umar456 commented on #140
@itsnarsi I sent you an explanation of the two functions on gitter.

[2017-05-18 20:06] itsnarsi commented on #140
@umar456 thanks for the info.

I'll try to implement these in my code and let you guys know.

Thanks

[2017-05-18 21:00] itsnarsi commented on #140
@umar456 @pavanky Ok damn. I modified code to with af.eval() and af.sync() and now on PC the performance literally double!!! (Close to Keras + Tensorflow on CPU)
![Windows](https://cloud.githubusercontent.com/assets/11802437/26223173/94e6e8b2-3be2-11e7-8691-65c6a5556f94.png)

While on linux I see a improvement on PC, but it is not what I hoped for.
Then:
![Then](https://cloud.githubusercontent.com

[2017-05-18 21:39] pavanky commented on #140
@itsnarsi I'll give it a try once I get home. Ping me if I don't respond in a couple of days.

[2017-05-18 21:52] pavanky commented on #140
@itsnarsi can you point me to the script / file you are running as well as the output of `af.info()` from both machines ?

[2017-05-18 21:57] itsnarsi commented on #140
Notebook I'm running: [Here](https://github.com/itsnarsi/LearnAF/blob/master/Layers.ipynb)

My Windows PC:

ArrayFire v3.4.2 (CPU, 64-bit Windows, build 2da9967)
[0] AMD     : Intel(R) Core(TM) i7-7700 CPU @ 3.60GHz, 32669 MB

Linux:

ArrayFire v3.4.1 (OpenCL, 64-bit Linux, build b9055b1)
[0] AMD     : Ellesmere, 7731 MB
-1- AMD     : Intel(R) Core(TM) i7-6700K CPU @ 4.00GHz, 15996 MB

[2017-05-18 21:59] pavanky commented on #140
@itsnarsi can you install `3.4.2` on your Linux machine as well ? I had a couple of JIT related fixes in 3.4.2 that may explain some of this.

[2017-05-18 22:01] itsnarsi commented on #140
@pavanky as soon as I posted it I realized that I did not update my arrayfire in linux.

Sorry, I will do that and send you the results as soon as possible.

[2017-05-18 22:15] itsnarsi commented on #140
@pavanky Ok Thanks for remaining me to update.
CPU on both linux and windows are working as needed.
**Same as windows in linux NOW!!**
![1](https://cloud.githubusercontent.com/assets/11802437/26225458/e42dc04e-3bec-11e7-9b0c-0c77d2a01279.png)

In case of 'opnecl' on my RX 480:
![2](https://cloud.githubusercontent.com/assets/11802437/26225531/2c805e6a-3bed-11e7-99d4-91c01836bdc9.png)

- First epoch

[2017-05-18 22:19] pavanky commented on #140
If I am reading this correctly you are getting 96 batches / s on the GPU but you are getting 325 batches / s on the CPU ?

[2017-05-18 22:19] pavanky commented on #140
@itsnarsi are you using floats or doubles for your experiment?

[2017-05-18 22:21] itsnarsi commented on #140
@pavanky I am converting a float32 numpy to af.array using 'af.np_to_af_array' in all cases.

[2017-05-18 22:21] pavanky commented on #140
@itsnarsi I am also unsure when the data copy occurs. If you are constantly copying data to the GPU then the times may be skewed because of this.

[2017-05-18 22:28] pavanky commented on #140
@itsnarsi sent you a personal message on gitter can you reply to me there :)

[2017-05-23 05:24] ShyamSS-95 opened #141 "Interpolation along particular axis"
Currently, the interpolation function performs the interpolation along the 0th and the 1st axis. However, in my problem of interest, I need to interpolate along all the 4 axes. Could the feature of having interpolation along a particular axis be added on in `af.approx2`. Right now, I'm reordering the arrays such that the axes along which I need to interpolate are moved to the 0th and 1st axes.  Af

[2017-05-23 05:31] pavanky commented on #141
@ShyamSS-95 How is the data being created?

[2017-05-23 06:29] ShyamSS-95 commented on #141
The convention I'm following throughout is that `y` varies along axis 0, `x` varies along axis 1, `vel_y` varies along axis 2 and `vel_x` varies along axis 3.

I'm creating `vel_x` and `vel_y` using:
[code]
Mentioned below is the code for assigning `x` and `y`:
[code]
f is a probability distribution function which is created using:
[code]
Where `N_x, N_y, N_vel_x, N_vel_y, vel_x_max, vel_y_max, le

[2017-05-23 14:06] honkomonk opened #142 "Parameters switched in documentation for "sort_by_key""
Hi,

it looks like the parameters for the function "sort_by_key" are in the wrong order in the ArrayFire-Python documentation.

The Python doc says values before keys:
http://arrayfire.org/arrayfire-python/arrayfire.algorithm.html#arrayfire.algorithm.sort_by_key

While the C/C++ doc states keys before values:
http://arrayfire.org/docs/group__sort__func__sort__keys.htm

After staring at the python

[2017-05-23 15:26] pavanky commented on #142
@honkomonk do you want to send a PR to fix this :) if not I'll patch it in the evening.

[2017-05-25 17:55] #142 closed

[2017-06-29 07:17] florian98765 opened #145 "Combining arrayfire-python with cython"
hello, we are currently working on a finite difference code using arrayfire. First benchmarks showed that for small systems the C/C++ versions seems to be significantly faster than the Python version. Therefor at least the core routines should be implemented in C/C++. On the other hand the final interface should be available in Python. We typically use Cython for that purpose and we already archiv

[2017-06-29 14:57] pavanky commented on #145
@florian98765 Can you make sure the backend being used in Python and cython are the same ?

Besides, the python wrapper shouldnt be significantly slower (unless you are performing a lot of indexing operations). Would it be possible to share some reproducible code ?

[2017-06-30 16:01] #140 closed

[2017-07-02 07:35] pavanky commented on #145
@florian98765 anything you can share?

[2017-07-03 08:43] pthon commented on #145
As Florian is currently out of office, I can share our example:

setup.py

[code]

test.pyx

[code]
test.h
[code]

test.cpp
[code]
Thank you for your efforts.

[2017-07-03 09:10] pthon commented on #145
And for completeness:

run.py
[code]

[2017-07-03 09:22] pavanky commented on #145
@pthon call `b.lock()` after creating it. You need to do that for any array you share from python to C++.

If you don't do that both python and C++ will try to free the array.

[2017-07-03 09:34] pavanky commented on #145
@pthon I am unable to build this. I am getting a error saying there are multiple definitions.

BTW can you also include the output you are seeing?

[2017-07-03 09:54] pthon commented on #145
Some files were named improperly, I corrected it in the comments above, sorry about that.
I also included the lines
cpp_test.cpp
`b.lock();`

run.py
`arrayfire.lock_array(a)`

The output I am still seeing is

[2017-07-07 17:59] pavanky commented on #145
@pthon @florian98765 I am able to reproduce thhe error, but I am not really sure why this is happening. Unfortunately I will not be able to test this for a couple of days..

[2017-07-15 02:54] pavanky commented on #145
@pthon @florian98765 I figured out what was the issue. You were sending the address of the ctypes object to C++ which is `void **`.

In Python the `af_array` is technically `a.arr.value` not `a.arr`.

To get your code work, you can simply change
[code]
to
[code]
------------------

Other things to not: For some reason the C++ code is getting destroyed after the python code. This is causing issues

[2017-07-15 02:55] pavanky commented on #145
Btw can you also share some code that is slow in python but fast in C++ ? It may help fix any performance issues in the wrapper.

[2017-07-15 02:55] #145 closed

[2017-07-17 23:06] bhawkins opened #147 "import changes directory"
Importing the arrayfire module changes the working directory. For example:

[code]

This causes problems with any file names specified with a relative path.

I'm running on OS X 10.11 with arrayfire 3.3.2 installed with homebrew and arrayfire-python installed with pip.

I don't see any `chdir` calls in the module, so I'm not sure where the problem is.

[2017-07-17 23:15] pavanky commented on #147
@bhawkins can you try testing out the devel branch and see if it is still an issue?

[2017-07-17 23:21] pavanky commented on #147
@bhawkins Hmm, I just tried to reproduce the issue with pip version of arrayfire-python and arrayfire 3.5 and there doesn't seem to be an issue. Would it be possible to download arrayfire 3.5 ?

[2017-07-18 08:21] pavanky commented on #51
I think this needs to be implemented upstream.

[2017-07-18 15:26] pthon commented on #145
Many thanks for your help, it helped a lot!

As of performance differences between C++ and Python, we excessively need three operations:

1. Indexing operations such as our current cross product implementation which I mentioned in [#1113](https://github.com/arrayfire/arrayfire/issues/1113)
2. Convolutions with small kernels (3x3x3) (could be improved when [#1320](https://github.com/arrayfire/array

[2017-07-18 16:07] pavanky commented on #145
@pthon Thanks for the reproducible scripts! I put in the benchmarks from my desktop over here:
https://gist.github.com/pavanky/836b8ea30fe2cd60736572613edd4bb5

At smaller sizes the bottleneck seems to be the ffi. I'll need to investigate [cffi vs ctypes](https://github.com/arrayfire/arrayfire-python/issues/54) to see if this can be fixed.

[2017-07-18 16:12] pavanky commented on #54
Also consider caching functions instead of looking them up every time.

[2017-07-18 16:13] pavanky commented on #145
@pthon

This is not what I am seeing in the benchmarks. Can you show me what numbers you are seeing?

[2017-07-18 20:50] pthon commented on #145
That would be great!
I formulated my comment comparing the convolution and the FFT deceptively. The convolution with its (3x3x3) kernel is actually faster than the FFT, but I expected it to be way faster as it is (especially for the huge arrays).
For visualization I add a graphic showing the quotient of the conv and fft timings for C++ (the raw data I added to [your file-link](https://gist.github.

[2017-07-18 21:14] pavanky commented on #145
@pthon for larger sizes convolution falls back to using fft + ifft for performing convolutions. But it uses closest powers of 2 so it is going to be a bit faster than a single fft.

[2017-07-19 12:39] pthon commented on #145
I understand that the fall back to fft+ifft, scaling with N log(N),  is usefull if both signal and kernel are huge. But for a very small kernel, this fall back seems inefficient as the convolution would still scale with say 27xN.
Is there a way to avoid the fft+ifft fall back?

[2017-07-19 13:09] ShyamSS-95 opened #148 "Issue with memory consumption"
I think there may be a memory allocation issue with the Python interface to ArrayFire . Consider the following code:
[code]
In `[4]` why is `a` being assigned to a new memory location with the older memory location not being deallocated. Additionally `del a` seems to only remove the lock. What is happening here?

Even when using `a[:]` to change the values of the array, this is the result:
[code]

[2017-07-19 15:29] pavanky commented on #145
@pthon can you open the issue upstream so I can look into it.

[2017-07-19 15:41] pavanky commented on #148
@ShyamSS-95 This is because the memory can only be "deleted" / "freed" when all references to `a` are gone. These references only go away *after* `=` is called. I am pretty sure numpy is also using 762MB x 2 when `np.random.rand()` is called on the RHS and freeing 762 MB once it assigns to `a`.

You only notice the issue in arrayfire because of the memory manager (it says onl 381 B is being used,

[2017-07-19 20:28] QuantScientist opened #149 "Image processing and Vision functions are ported like the ArrayFire Julia lib?"
For instance,
(https://github.com/JuliaComputing/ArrayFire.jl)

**Image Processing:**
scale, hist
loadImage, saveImage
isImageIOAvailable
colorspace, gray2rgb, rgb2gray, rgb2hsv, rgb2ycbcr, ycbcr2rgb, hsv2rgb
regions, SAT
bilateral, maxfilt, meanshift, medfilt, minfilt, sobel, histequal
resize, rotate, skew, transform, transformCoordinates, translate
dilate, erode, dilate3d, erode3d, gaussiankerne

[2017-07-19 20:34] pavanky commented on #149
@QuantScientist all these functions are supported in the python wrapper.

- http://arrayfire.org/arrayfire-python/arrayfire.image.html#module-arrayfire.image
- http://arrayfire.org/arrayfire-python/arrayfire.vision.html#module-arrayfire.vision

[2017-07-19 20:34] #149 closed

[2017-07-19 20:45] ShyamSS-95 opened #150 "Memory Issue on OpenCL backend"
I seem to be getting a memory error when using the OpenCL backend but passes fine when using the CPU backend:
[code]

[2017-07-19 20:53] pavanky commented on #150
@ShyamSS-95 can you see if you run `clinfo` and show the output?

[2017-07-19 23:33] bhawkins commented on #147
Trying to download an OS X installer from the website is giving me trouble. When I go to https://arrayfire.com/download-splash/ and click "Login to Download" I'm taken to https://arrayfire.com/login/?redirect_to=https%3A%2F%2Farrayfire.com%2Fdownload which just says, "Get access to the ArrayFire download page by logging into your ArrayFire account. It's that easy."  But I'm already logged in, and

[2017-07-19 23:57] pavanky commented on #147
@bhawkins The latest installer from the ci can be downloaded from here: http://ci.arrayfire.org/userContent/OSX/

Just do not rely on it to always exist :)

@umar456 @mlloreda can you see what's happening with the downloads ?

[2017-07-19 23:59] pavanky commented on #147
@bhawkins can you test this with other packages ? For example numpy installed via pip ?

[2017-07-20 00:02] mlloreda commented on #147
@bhawkins I'm not able to reproduce the download issue on my end. Can you try the following and update with results:

1. Log out
2. Log back in
3. Visit https://arrayfire.com/download/

[2017-07-20 06:08] QuantScientist opened #151 "Question about pandas DataFrame conversion"
Hi,
In my use case, I have data sets in parquet/CSV format which I then read into a pandas dataframe for processing.
Before starting to use ArrayFire Python, I would like to know if the following operations are at all supported.

1. Reading a dataframe, with its headers into an ArrayFire equivalent data structure
2. Reading a CSV, with its headers into an ArrayFire equivalent data structure
3. Wri

[2017-07-20 06:17] ShyamSS-95 commented on #150
[code]

[2017-07-20 06:45] pavanky commented on #150
From clinfo:

This is a limitation of the Intel OpenCL driver.

[2017-07-20 06:45] #150 closed

[2017-07-20 06:48] pavanky commented on #151
@QuantScientist ArrayFire does not support data frames as of now.

[2017-07-20 07:16] QuantScientist commented on #151
Thanks,
How about np array to AF array?
The documentation states:

![2017-07-20 10_14_24-arrayfire_matrix_computations_chrzeszczyk 1 pdf](https://user-images.githubusercontent.com/18743986/28405047-570108ec-6d34-11e7-996b-3eeb3026959e.png)

But I get an error while trying this syntax:
![2017-07-20 10_15_45-array_fire](https://user-images.githubusercontent.com/18743986/28405084-7b67e4c6-6d34-11e7-9

[2017-07-20 07:36] pavanky commented on #151
@QuantScientist you need to use `af.to_array(array_foo)`

[2017-07-20 07:39] pavanky commented on #151
@QuantScientist Where did you find that documentation in the screenshot?

[2017-07-20 07:40] QuantScientist commented on #151
From "Matrix computations on the GPU with ArrayFire
for Python and C/C++"
Where did you take the example you quoted?

[2017-07-20 07:47] pavanky commented on #151
@QuantScientist That's from a few years ago and outdated. Please use the documentation from here:
arrayfire.org/arrayfire-python

From memory :) I wrote the function.

[2017-07-20 10:55] mchandra commented on #148
@pavanky You are right about `numpy` allocating memory and we confirmed it. This is our (mine and @ShyamSS-95) understanding of the process:
[code]
In `[2]`, the causal sequence of events is the following
1. The call to `af.randu` allocates memory
2. The pointer to the memory is passed to the variable `a`

Now in `[4]`:
1. The call to `af.randu` allocates *additional* memory at a distinct location

[2017-07-20 14:41] pavanky commented on #148
@mchandra @ShyamSS-95

The memory is "free" as in it is no longer locked by anything. It can be reused by a new array that tries to allocate memory. You can verify this by assigning to `a` or a new variable`b`.

If for some reason you are running out of memory and the memory manager isnt doing its job, call `af.device_gc()` as a work around  and file a bug. Otherwise using the memory manager is mu

[2017-07-20 14:41] #148 closed

[2017-07-20 21:26] nanophd opened #152 "Errors: image.py: FEAT: Adding canny edge detector"
I don't know if the canny edge detector is fully implemented yet, but when trying to use it I get some errors:

[code]

I believe ```treshold_type``` should be ```threshold_type```

Once that is corrected I get an error of:

If assuming that ```c_unit```  and ```c_bool``` are supposed to be appended with the ```_t``` to make it look like this:

[code]

and using the default sobel_window=3 I get th

[2017-07-21 07:30] pavanky commented on #152
Thanks for reporting this. This should now be fixed in both master and devel.

[2017-07-21 07:30] #152 closed

[2017-07-21 08:31] pavanky commented on #148
An example showing the memory manager at work: https://gist.github.com/pavanky/6a31486ba5d45c0484e2900bcac37362

[2017-07-21 20:10] ivan-gusachenko opened #153 "Could not load any ArrayFire libraries"
Hello,
I'm sorry I know this issue has been around for a while but I couldn't solve it based on the posted solutions. I'm trying to install it for Mac OSx with cpu and opencl, without cuda. So I write this in the terminal:
`export DYLD_LIBRARY_PATH=/usr/local/lib:$DYLD_LIBRARY_PATH`
as this is where my libaf*.dylib files are located. Still, when trying to import the module I get this message:
[cod

[2017-07-21 20:20] pavanky commented on #153
@ivan-gusachenko Something about conda may be up the DYLD_LIBRARY_PATH. Can you try using arrayfire using regular python?

[2017-07-21 20:31] ivan-gusachenko commented on #153
Thank you,
I've just tried as you said, but unfortunately this didn't help.
'Python 2.7.10 (default, Feb  7 2017, 00:08:15)
[GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.34)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Library/Python/2.7/site-packages/arrayfire/__init__.py"

[2017-07-21 20:51] pavanky commented on #153
@ivan-gusachenko can you try running `otool -L /usr/local/lib/libaf.dylib` and showing the output?

[2017-07-21 21:15] ivan-gusachenko commented on #153
Thanks, it gives:
`8afbf601:Downloads ivangusachenko$ otool -L /usr/local/lib/libaf.dylib
/usr/local/lib/libaf.dylib:
	@rpath/libaf.3.dylib (compatibility version 3.0.0, current version 3.5.0)
	/usr/lib/libc++.1.dylib (compatibility version 1.0.0, current version 120.1.0)
	/usr/lib/libSystem.B.dylib (compatibility version 1.0.0, current version 1226.10.1)`

[2017-07-21 21:50] pavanky commented on #153
@ivan-gusachenko can you run the same command on `libafcuda.dylib`, `libafopencl.dylib` and `libafcpu.dylib` ?

[2017-07-21 21:55] ivan-gusachenko commented on #153
Here it is. I don't have cuda hardware, I have amd opencl gpu instead.
`8afbf601:Downloads ivangusachenko$ otool -L /usr/local/lib/libafcuda.dylib
/usr/local/lib/libafcuda.dylib:
	@rpath/libafcuda.3.dylib (compatibility version 3.0.0, current version 3.5.0)
	@rpath/libcublas.8.0.dylib (compatibility version 0.0.0, current version 8.0.55)
	@rpath/libcufft.8.0.dylib (compatibility version 0.0.0, cur

[2017-07-21 22:39] pavanky commented on #153
@ivan-gusachenko how did you install arrayfire ? Do you have libforge present in `/usr/local/lib` ?

[2017-07-21 22:59] ivan-gusachenko commented on #153
Big thanks for you guidance, Pavan.
I do have libforge, libforge.1, and libforge.1.0.2 in /usr/local/lib

First, I installed Anaconda.
Then I installed homebrew by doing this:
`/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"`
then I downloaded binaries for Mac OS from arrayfire.org, and followed the installation procedure.
Then I downloaded a cmak

[2017-07-21 23:29] pavanky commented on #153
@ivan-gusachenko I think some dependency for libforge is not present on the system ?

Can you run `otool -L libforge*`

[2017-07-21 23:30] ivan-gusachenko commented on #153
`8afbf601:lib ivangusachenko$ otool -L libforge*
libforge.1.0.2.dylib:
	@rpath/libforge.1.dylib (compatibility version 1.0.0, current version 1.0.2)
	/usr/local/opt/fontconfig/lib/libfontconfig.1.dylib (compatibility version 11.0.0, current version 11.2.0)
	/usr/local/lib/libglfw.dylib (compatibility version 3.0.0, current version 3.2.0)
	/System/Library/Frameworks/OpenGL.framework/Versions/A/Open

[2017-07-21 23:31] ivan-gusachenko commented on #153
sorry I don't know how to preserve the original formatting when pasting

[2017-07-21 23:32] pavanky commented on #153
@ivan-gusachenko I have been editing your comments to fix the formatting. You are using a single tick (used for quoting) instead of three ticks (used for showing code).

[2017-07-21 23:36] pavanky commented on #153
@ivan-gusachenko can you uninstall the current version of arrayfire and try installing the following:

http://ci.arrayfire.org/userContent/OSX/ArrayFire-no-gl-v3.5.0_OSX.pkg

[2017-07-21 23:45] ivan-gusachenko commented on #153
Sorry, could you please tell how to uninstall it? There's no uninstaller,
and its files are now all over the place, in different directories.
However, when I just launch the file you've provided, the default option is
to 'upgrade' all the components. Would it be OK to let the .pkg installer
handle the upgrade, instead of a clean uninstall/install?
Thank you

On Sat, Jul 22, 2017 at 12:36 AM, Pavan

[2017-07-22 00:00] pavanky commented on #153
@umar456 can you reply to this ^?

[2017-07-22 00:20] umar456 commented on #153
I really need to script this. It requires a few steps.

The installer creates a package IDs for the files created on the system. You can query all the arrayfire packages on your system:

[code]

You can get the install locations for each of the packages by calling info:

[code]

cd into the location entry and delete the files:

[code]

This can be made into a script of course but this is the only

[2017-07-22 02:11] umar456 commented on #153
OSX Uninstall script

[code]
This will leave some directories and symlinks that were part of the install but it will delete all the files associated with the install

[2017-07-22 11:01] ivan-gusachenko commented on #153
Hi, thanks, it all worked! I uninstalled the arrayfire with your script, then reinstalled it from the file you've provided, and added the DYLIB path. Now arrayfire is successfully imported in python.

I don't quite understand what was wrong then. Whether my installation order was wrong, or the package downloaded directly from arrayfire.com was somewhat faulty.
Really big thanks to you guys for hel

[2017-07-22 16:22] pavanky commented on #153
@ivan-gusachenko The version I gave you will not be able to run any graphics functions. It looks like some dependency of forge was not present on your machine causing the error.

[2017-07-23 00:56] bhawkins commented on #147
@pavanky I updated my test script to the following
[code]

I browsed pypi for a recently updated module I don't have and came up with `pdfconv`. It doesn't change directory on import:
[code]

[2017-07-23 00:58] bhawkins commented on #147
@mlloreda Download seems to work now, though I'm currently on a different network. Thanks.

[2017-07-26 23:40] #153 closed

[2017-07-27 22:18] mchandra commented on #150
@pavanky any idea whats the difference between `Global memory size` and `Max memory allocation` ?:

[code]

On my machine, for the Intel CPU:
[code]
and for NVIDIA GPU:
[code]

In particular, why is `Max memory allocation` < `Global memory size`? Does this mean the size of any one single buffer can't exceed `Max memory allocation`?

[2017-07-27 22:28] pavanky commented on #150
@mchandra that's what it looks like. The [documentation](https://www.khronos.org/registry/OpenCL/sdk/1.2/docs/man/xhtml/clGetDeviceInfo.html) says the following:

[code]

[2017-07-27 22:31] mchandra commented on #150
Ok yes, that makes sense. Thanks!

[2017-08-09 10:53] gitansh95 opened #154 "arrayfire-python could not find any ArrayFire libraries"
I built ArrayFire from source, and installed it in `${HOME}/arrayfire`
I am using anaconda3 on Linux Ubuntu 16.04 (64-bit).
I installed arrayfire python bindings from `pip` : `pip install arrayfire`.

I have followed the instructions mentioned in the `arrayfire-python/wiki`
`export LD_LIBRARY_PATH=${HOME}/arrayfire/lib:$LD_LIBRARY_PATH`

When I run `python -m arrayfire.tests`,
I get
[code]
These a

[2017-08-10 00:46] pavanky commented on #154
@gitansh95 Are you using conda?

[2017-08-10 05:36] gitansh95 commented on #154
Yes, anaconda for Python3.

I have also linked the `libstdc++.so` and `libstdc++.so.6` in anaconda to `/usr/lib/x86_64-linux-gnu/libstdc++.so.6.0.21` :
[code]

[2017-08-10 14:53] pavanky commented on #154
@gitansh95 can you run `ldd ~/arrayfire/lib/libaf.so` and `ldd ~/arrayfire/lib/libforge.so` ?

[2017-08-11 06:26] gitansh95 commented on #154
[code]
[code]

[2017-08-11 14:41] xtipacko opened #155 "Matrix inner product calc speed (OpenCL) is almost exactly the same as in numpy+mkl"
Matrix inner product calculation speed (OpenCL) is almost exactly the same as in numpy+mkl
I've expected higher speed...

![image](https://user-images.githubusercontent.com/18727066/29217997-0c457970-7ebc-11e7-8b46-bdc17722ad81.png)

Though
your bench shows higher speed:

![image](https://user-images.githubusercontent.com/18727066/29218086-555efb22-7ebc-11e7-9da6-3d5053a56fb2.png)

What is the pro

[2017-08-11 16:27] pavanky commented on #155
@xtipacko Can you run [bench_blas.py](https://github.com/arrayfire/arrayfire-python/blob/devel/examples/benchmarks/bench_blas.py) and show the output ?

[2017-08-11 16:37] pavanky commented on #154
@gitansh95 Sorry about missing this. `AF_PATH` should point to the root not the lib directory. Can you modify `AF_PATH` to only be `$HOME/arrayfire` ?

[2017-08-11 19:18] xtipacko commented on #155
@pavanky for some reason it shows me this, even though I've set backend to opencl:

![image](https://user-images.githubusercontent.com/18727066/29228572-f25b5922-7ee2-11e7-977f-d385ba405668.png)

[2017-08-12 00:50] pavanky commented on #155
@xtipacko I think the blas operations get offloaded to the CPU for integrated GPUs. Can you try setting `AF_OPENCL_CPU_OFFLOAD` to `1` as an environment variable  and running the code again?

[2017-08-12 05:29] gitansh95 commented on #154
Did not work. I tried various combinations of `AF_PATH` and `LD_LIBRARY_PATH`, unsetting one and setting the other, and setting both together.
[code]
[code]
[code]

[2017-08-12 05:35] pavanky commented on #154
@gitansh95 I don't know what is going on. Try running:

[code]

[2017-08-12 06:31] xtipacko commented on #155
@pavanky Thanks a lot!, I've set AF_OPENCL_CPU_OFFLOAD to 0 and my own bench work great.
bench_blas hung up though :)
Here is the output :)
my bench:
`C:\Users\HOME-MAIN\Desktop>bench3.py
ArrayFire v3.5.0 (OpenCL, 64-bit Windows, build 05999f3)
[0] AMD: Devastator, 2048 MB
-1- AMD: AMD A10-6800K APU with Radeon(tm) HD Graphics  , 7371 MB
Numpy array generation: 3.660s

Numpy to ArrayFire conversio

[2017-08-12 06:37] pavanky commented on #155
@xtipacko Ah sorry. I had the default options mixed up :) Closing this issue for now.

[2017-08-12 06:37] #155 closed

[2017-08-12 06:39] xtipacko opened #156 "Feature: einsum"
Good day!
Could you please you Implement something like numpy.einsum (for OpenCL and CUDA)?

In particular, I interested in row/column-wise outer product, like this, but einsum is very universal and useful thing...

[code]

[2017-08-12 16:18] gitansh95 commented on #154
Doesn't work. It throws up the same error.

I also tried :
[code]

[2017-08-12 16:43] pavanky commented on #154
@gitansh95 I wanted to see what the output of the command from previous comment was. Those commands just try to see if the necessary dependencies are found after the python interpreter is started.

[2017-08-12 16:50] gitansh95 commented on #154
Oh. Here is the output :

[code]

[2017-08-15 07:28] gul916 commented on #134
Hello,

I can confirm that svd is abnormally slow under python-arrayfire as compared to scipy. I have benchmarked it using the attached file test_svd_af_gul.py, similar to bench_fft.py. Results are presented in arrayfire-test_svd_gul.txt, showing a 10 TIMES SPEED DECREASE with cuda backend as compared to cpu backend or scipy. Moreover opencl backend is not working, despite I can run bench_blas wit

[2017-08-17 01:20] JohnDN90 commented on #154
Just wanted to add that I'm having the same issues Ubuntu 16.04 64-bit on both my laptop (Nvidia discrete graphics and Intel built-in cpu graphics) and my desktop (AMD R9 290).  Installed ArrayFire from the Linux install script.  I've exported both the appropriate LD_LIBRARY_PATH according to the Wiki and I've exported AF_PATH as well.

Is there a way to have the "RuntimeError: Could not load any

[2017-08-17 04:03] pavanky commented on #154
@JohnDN90 are you also using conda ?

[2017-08-17 07:36] pavanky commented on #154
@gitansh95 @JohnDN90 I refreshed the python package that should contain the fix. The issue was with me forgetting to change the major version of forge from `0` to `1`.

[2017-08-17 07:36] #154 closed

[2017-08-17 07:39] pavanky commented on #154
@JohnDN90 I also added an environment variable that should allow for easier debugging. Starting with the current release, you ca add `AF_VERBOSE_LOADS=1` to display the stack traces in case of failures.

[2017-08-17 12:28] JohnDN90 commented on #154
@pavanky Thanks for the quick fix.  It seems to be working now.

For anyone else who may read this thread while troubleshooting, it seems that Ubuntu 16.04 does not have GLFW3 installed by default.  I also had to install it using "sudo apt-get install libglfw3 libglfw3-dev".  For those without root access, you'll either have to contact your administrator, compile it yourself, or try using LinuxBre

[2017-08-24 13:45] gul916 opened #157 "af.info() in the wrong window"
Hello,
That is just a minor bug, but it can be disturbing.

When you are using spyder graphical interface in anaconda, `af.info()` is not reported in spyder window but rather in the shell that started it. However, `af.get_backend()` and `af.get_device()` are reporting in spyder window.

Example:
[code]

Thanks for all your work.

[2017-08-24 14:46] pavanky commented on #157
@gul916 `af.info()` prints to stdandard output. It doesn't return a string so it is not visible. You can use `af.info_str()` which is an equivalent function to print in a notebook or spyder window.

[2017-08-24 14:46] #157 closed

[2017-08-24 15:07] gul916 commented on #157
Thank you for your quick reply. `af.info_str()` works fine. All is on one line, but it is not due to arrayfire. Maybe do you know how to solve it ?

[2017-08-24 15:25] pavanky commented on #157
@gul916 Use `print(af.info_str())` Do not rely on the repl to print it properly.

[2017-08-24 15:25] gul916 commented on #157
Thanks, you were faster than me !

[2017-09-02 06:14] ShyamSS-95 opened #158 "Odd performance trends in conversion from af.Array to np.ndarray"
I've used [this](https://gist.github.com/ShyamSS-95/1b3d1841adebebdf31ea1fbaa7e67b7a) code to time conversions from `af.Array` to `np.ndarray` and vice-versa.

When I run the code on the GPU, I get the following times:
[code]
[code]
Additionally, the peak memory consumption when run on the GPU is at 330MB
However, when I run it on the CPU:
[code]
[code]
The memory consumption in this case peaks at

[2017-09-02 20:48] pavanky commented on #158
@ShyamSS-95 This looks like a driver issue. I tried running the test script on the CPU using both AMDs driver as well as Intels driver. The memory required by Intels driver is about 12 GB while on AMD it was as expected.

[code]

[2017-09-02 20:48] #158 closed

[2017-09-03 13:38] ShyamSS-95 commented on #158
@pavanky Is the slower conversion from `np.ndarray` to `af.Array` on the CPU vs GPU an expected trait? Since it's just a conversion, shouldn't the times almost be the same?

[2017-09-03 19:09] pavanky commented on #158
@ShyamSS-95 numpy stores data in row major format and arrayfire stores it in column major format. To fix this a `af.reorder` is performed after the copy.

[2017-09-03 19:10] pavanky commented on #158
@ShyamSS-95 You can check notice the difference by copying a 1D array where row major and column major doesn't matter.

[2017-11-03 16:08] nanophd commented on #106
I've been getting the same error as described above when trying to run the plot3.py example.  Below is output.
[code]

[2017-11-20 17:07] pthon commented on #145
@pavanky

Is there a way to again create a python af.Array from a pointer passed by the cpp code (i.e. the reverse action of what is achieved in the discussion above)? I fear I am struggling at a single line in my run.py:

run.py
[code]
interface.pyx
[code]
source.cpp
[code]
source.hpp
[code]
setup.py
[code]

[2017-11-20 18:32] pavanky commented on #145
@pthon can you ping me on the slack channel linked in the README ?

[2017-11-27 14:17] georgh opened #161 "Adding squeeze"
Would be nice to have a wrapper for squeeze.

Without squeeze, matmul usage is quite limited because if will fail for all slices of bigger matrices. Example:

[code]

[2017-11-27 14:41] georgh commented on #161
At least until https://github.com/arrayfire/arrayfire/pull/1898 is merged and released

[2017-11-27 16:20] georgh commented on #161
And I found out that you can reduce the dimension if you order your data the right way:
x = af.constant(0, 5, 5, 10, dtype=af.Dtype.f64)
af.matmul(x[:,:,0],x[:,:,0]) #works

[2017-11-27 18:02] pavanky commented on #161
@georgh arrayfire is column major. The code that works for you is more efficient than the code you show in the issue description.

Nevertheless squeeze may be something that could be implemented.

[2017-11-27 23:41] georgh commented on #161
Yeah reordering my code is probably the better idea :)

[2017-11-27 23:47] georgh opened #162 "ParallelRange with Sliced Matrix"
If you slice a matrix in the ParallelRange matmul does not detect the change in dimension and fails:

[code]

[2017-11-28 00:07] pavanky commented on #162
@georgh This needs https://github.com/arrayfire/arrayfire/pull/1898 to be merged.

But if that is merged, you can simply do `res = af.matmul(left, right)`

[2017-11-28 02:15] georgh commented on #162
Are you sure?
left has a fixed size here, for me that fails (even with the patch with)
Expected: lDims.ndims() == rDims.ndims()

But even if you add this to matmul, the problem is seems not matmul but ParallelRange.
Another example: I would like to add to the diagonal part of all the matrices in my batch
Something like
[code]
would be cool

[2017-11-28 06:04] pavanky commented on #162
@georgh You can't nest ParallelRange. But don't need ParallelRange for this. You can do the following:

[code]

[2017-11-28 13:24] georgh commented on #162
Ok its really nice to know that tile doesn't need more memory :)
But still, shouldn't
[code]
work?

[2017-11-28 15:16] pavanky commented on #162
What are the sizes of `res` and `tmp` ?

[2017-11-30 13:08] georgh commented on #162
Sorry my bad, beside the first case ParallelRange works fine.
But I still don't think the first case is a problem with matmul. Full example:

[code]
I have #1898 merged in my build.
Error:
[code]

[2017-11-30 14:19] georgh commented on #162
Or even simpler:
[code]

[2017-11-30 17:50] georgh opened #165 "Documentation: Multiple GPUs"
I think it would be great to have an example for using multiple GPUs.

Here is what I tried. If thats the right way to do it, then you may add it as an example.
It seems to scale fine (up to 7 GPUs) and nvidia-smi reports 96% util.
[code]

[2017-12-06 13:22] georgh commented on #165
Main remaining question would be, how you use the cpu during the gpu computation.
Do you split with multiprocessing or is there a easier way?

[2017-12-06 17:05] pavanky commented on #165
@georgh can you send this as a PR ?

The gpu ops are asynchronous. You can other stuff on the cpu as long as you dont run any synchronizing functions (af.sync or any function that copies memory back to the cpu).

[2017-12-06 23:38] BenBagherian opened #166 "RuntimeError: Could not load any ArrayFire libraries."
Error right after installation:
[code]

And these are in the PATH:
`C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\libnvvp;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\bin;C:\Program Files\ArrayFire\v3\lib;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\nvvm\bin;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\nvvm\lib\x64`

Also, Cuda works fine with exe benchma

[2017-12-07 00:35] umar456 commented on #166
Can you make sure the `sys.path` variable contains the path to the ArrayFire libs?

[code]

[2017-12-07 16:59] BenBagherian commented on #166
no, it's not:
[code]
Then I tried to append it to the sys.path, didn't work:
[code]

[2017-12-07 17:46] pavanky commented on #166
@BenBagherian  think you are using 32 bit python. ArrayFire only supports 64 bit.

@umar456 `sys.path` refers to path of python modules. The right flag is `os.environ['PATH']`. But `sys.path` helpe debug the issue :)

[2017-12-07 18:02] BenBagherian commented on #166
Thank you both! Python-32bit was the issue!

[2017-12-07 18:36] BenBagherian opened #167 "Exiting python"
I got another issue during my test; when I import arrayfire then want to exit, python becomes hung:

[code]

After Ctrl+Z the used memory from ~600MB gets to ~250MB and stops there, no cpu on it.

[2017-12-07 19:01] #166 closed

[2017-12-07 19:05] pavanky commented on #167
@BenBagherian What gpu do you have?

[2017-12-07 19:12] BenBagherian commented on #167
Nvidia Quadro K3000M

[2017-12-07 19:33] pavanky commented on #167
@umar456 can you ask someone to check this on windows?

[2017-12-24 16:01] tomerdmnt opened #169 "SIFT memory leak"
It seems that the SIFT detection leaks memory. Here is the example script I am running.

[code]

I solved part of the leaks in #168. Apparently the features destructor wasn't called, and af_release_features needed to be called explicitly from python.

With this fix the ORB feature detection works without leaks, but SIFT and GLOH still do.

Running pretty much the same methods in C works without a

[2018-01-12 13:50] HarryStorbacka opened #171 "Return fixed length tuple from array.dims()?"
Hi,

Could you consider changing array.dims() to return a fixed length tuple, like (3,4,1,1)? Currently it's necessary to check the length of the returned tuple before indexing it to get the size of a specific dimension.

(3, 4)

(3, 4, 2)

Something like this...

(3,4,1,1)

[2018-01-12 17:48] pavanky commented on #171
@HarryStorbacka a workaround would be `af.dim4(*a.shape)`

[2018-01-15 15:34] tomerdmnt commented on #169
Somewhat related to this, after getting an array from a feature, say ```xpos = feature.get_xpos()```, there is a double free bug, because the array is cleaned when af_release_features is called in the feature's ```__del__``` and also in the array ```__del__``` method.

Right now, I work around it by setting ```xpos.arr.value = 0``` before the destructors are called.

It's possible to fix this by g

[2018-01-18 02:15] selimyoussry opened #172 "np_to_af_array copy"
Hi everyone, the source code for "np_to_af_array" seems guaranteed to raise a RuntimeError("Copy can not be False for numpy arrays"), shouldn't it only be present in the "else" statement?

I'm thinking of this:

[code]

instead of [the current code](https://github.com/arrayfire/arrayfire-python/blob/master/arrayfire/interop.py#L73)

What do you think?

Thanks!

[2018-01-18 02:20] pavanky commented on #172
@selimyoussry copy should never be false. You can send in a PR to remove that option if you want to.

[2018-01-19 14:37] sufkes opened #173 "arrayfire.Array is_device option."
What does the option 'is_device' do in an arrayfire.Array? I can't find an entry in the documentation and would like to understand.

[2018-01-19 21:10] pavanky commented on #173
@sufkes This is for passing raw pointers that were created on a GPU device (using PyCUDA / PyOpenCL etc).

An example of how it can be used can be seen here: https://github.com/arrayfire/arrayfire-python/blob/master/arrayfire/interop.py#L114

[2018-01-25 10:42] pavanky opened #174 "delay scaling of ffts until after the transforms."
As seen here, the results can be order of magnitudes off if the scaling happens upfront.
https://gist.github.com/pavanky/dc64fc83e0fa298e942a3e0ca07ccd15

[2018-02-04 17:57] LMikeH opened #175 "Can't use af.create_sparse_from_host()"
When I am trying do the following:

rows = [1,2,3,4,5]
cols = [1,2,3,4,5]
vals = [1.0,1.0,1.0,1.0,1.0]

spA = af.create_sparse_from_host(vals,rows,cols,5,5,storage=af.STORAGE.COO)

I get the following error:

Traceback (most recent call last):
  File "C:/Users/User/UsrApps/FireTest/tinytest.py", line 8, in <module>
    spA = af.create_sparse_from_host(vals,rows,cols,5,5,storage=af.STORAGE.COO)
  F

[2018-02-05 08:30] pavanky commented on #175
As I replied on the google groups, either use `array.array` or `numpy.array` of the right type instead of plain lists.

[2018-02-05 08:30] #175 closed

[2018-02-05 08:32] matkraj opened #176 "Problem with af.mean in parallel loop"
When I run
[code]
results in:

[2018-02-05 16:36] pavanky commented on #176
You can't use a function that returns a scalar inside parallel for.

You can achieve the same thing by doing `means = af.mean(data, dim=2)`

[2018-02-05 16:36] #176 closed

[2018-02-06 02:24] matkraj commented on #176
@pavanky is this error expected?
[code]

[2018-02-06 02:53] pavanky commented on #176
@matkraj yes the number of threads launched for `af.mean(data2d[:, 0])` is different from `af.mean(data2d, dim=0)`.  This results in small floating point differences because [floating point arithmetic is not associative](http://www.walkingrandomly.com/?p=5380).

If you used something like `af.min` or `af.max` which dont perform floating point arithmetic you will see identical results.

[2018-02-06 04:20] matkraj commented on #176
Thanks!

[2018-02-08 21:52] LMikeH opened #177 "Matmul for sparse matrices with dense vector raising "Type mismatch inputs""
Hello I am struggling to do some basic operations with sparse arrays. I need to be able to create sparse arrays for solving PDEs without having to build a full dense matrix. Anyway, I'm quite confused about the error I get below.

My code below:

import arrayfire as af
import numpy as np
import array

rows = np.array([1,2,3,4,5])
cols = np.array([1,2,3,4,5])
vals = np.array([1.0,1.0,1.0,1.0,1.0])

[2018-02-08 22:06] pavanky commented on #177
`vals` is `float64` while `b` is `flaot32`. Try `vals = np.array([1.0] * 5, dtype = np.float32)`

[2018-02-10 16:23] LMikeH commented on #177
Thanks alot! That worked.

[2018-02-10 16:44] #177 closed

[2018-02-15 18:37] AndyGreenwell opened #178 "Discrepancy in fft2 output?"
In performing a few numerical experiments with fft2 between various environments, I have noticed what seem to be discrepancies in output values that might not be attributable just to floating point round-off error.

I would appreciate someone's take on whether I have set up this test properly for evaluating behavior of ArrayFire's fft2 function.

# Setup
## Configuration
* Compare numerical output

[2018-02-15 19:14] pavanky commented on #178
Can you display MATLAB results at a larger precision ?

[2018-02-15 19:18] pavanky commented on #178
You are also not displaying `bd`  directly. Try to use `af.display(bd[:10, :10])`. The numbers should be similar to what you see in matlab.

[2018-02-15 19:39] AndyGreenwell commented on #178
Edited the original comment to include `long e` output format for Matlab and the `af.display` output in python.

[2018-02-15 19:56] pavanky commented on #178
@AndyGreenwell I think it is the way you are converting numpy array to arrayfire array. I am getting correct results if I use `ad = af.to_array(a)` instead of the method you are using.

[2018-02-15 20:40] AndyGreenwell commented on #178
@pavanky Thanks, using `af.to_array` is giving me the proper result after subsequently performing the fft2.

I was following the third example on this [page of the docs](http://arrayfire.org/arrayfire-python/arrayfire.array.html#module-arrayfire.array) to construct the ArrayFire array from a numpy array, so possibly that example might need updating.

Proper expected output shown below.

[code]

[2018-02-15 20:40] #178 closed

[2018-02-15 20:50] pavanky commented on #178
I'll fix the docs thanks.

[2018-03-13 18:26] lebedov opened #179 "error in arrayfire.statistics.cov?"
`arrayfire.statistics.cov` in version 3.5.20170817 of the Python bindings calls `af_cov_all` via ctypes; however, there doesn't appear to be any such function in the arrayfire library source (at least as of revision [ad230a2](http://github.com/arrayfire/arrayfire/commit/ad230a24c44d8c7526ed9e8138aa6437c5d3cc04)).

[2018-04-11 06:44] matkraj opened #180 "remainder function giving negative result (af.rem)"
Hi, I noticed if I calculate reminder function I get:
`print(af.rem(af.constant(11,1,1),3))
`

which should be:

[2018-04-11 17:00] pavanky commented on #180
@matkraj I think you should be looking at `af.mod`. This behavior is consistent with IEE (check [std::remainder](http://en.cppreference.com/w/cpp/numeric/math/remainder))

[2018-04-12 03:48] matkraj commented on #180
@pavanky Thanks, I got confused because there is no af.mod in arrayfire-python.

[2018-04-12 03:58] matkraj commented on #180
Probably this needs to be added to arrayfire/arith.py
[code]

[2018-04-12 17:34] pavanky commented on #180
@matkraj Do you want to send in a review with this change ?

[2018-04-13 06:09] matkraj commented on #180
pull request https://github.com/arrayfire/arrayfire-python/pull/181

[2018-04-14 03:54] #180 closed

[2018-06-01 07:32] matkraj opened #182 "import arrayfire results in Seg fault after last update"
I updated arrayfire to binary v3.6 and CUDA to 9-2 on Ubuntu 17.10.

C++ code works as usual - compiled and successfully computed.

arrayfire-python throws _Seg fault_ after `import arrayfire`
there is no other indication of an error - `python3 -m arrayfire.tests` does the same
installed in /usr/local which used to work without problem+
also tried all `export LD LIBRA.. AF_PATH.. `but does not see

[2018-06-01 14:37] matkraj commented on #182
removed miniconda and it just works

[2018-06-01 14:37] #182 closed

[2018-06-03 08:12] matkraj opened #183 "jupyter notebook jit problem with af.gaussian_kernel()"
Hi, after updating to the latest arrayfire jupyter notebook seems to have a problem with `af.gaussian_kernel()` function. Standard `ipython` works without a problem but in notebook the call ends up with:

[code]
I tried complete reinstall of python, cleaned any personal settings in .local .bashrc .config and installed completely new anaconda. Still whatever I do I cant get it to run

NOTE:  `af.co

[2018-06-03 09:26] pavanky commented on #183
Are you using the same version of python and arrayfire for both cases ?

[2018-06-04 04:51] matkraj commented on #183
@pavanky I think so, I will reinstall the computer, it will be easier to try with an empty install

[2018-06-04 07:58] matkraj commented on #183
Problem still there, fresh ubuntu 18.04, CUDA 9.1, binary af v3.6, python from ubuntu repo, arrayfire-python git-master

**os.environ** diff:

- ipython3
`'_': '/usr/bin/python3'`

- jupyter-notebook
`'_': '/usr/bin/jupyter-notebook', 'JPY_PARENT_PID': '20126', 'CLICOLOR': '1', 'PAGER': 'cat', 'GIT_PAGER': 'cat', 'MPLBACKEND': 'module://ipykernel.pylab.backend_inline'`

**sys.path** diff:
- jupyte

[2018-06-04 20:40] rwatkins77 opened #184 "ArrayFire tests fail at LAPack"
Trying to install arrayfire for CUDA on pop os 18.1.   Tests of arrayfire fails at laPACK.  Calculation of pi also fails at af.count()   Any ideas?   Have I left out dependencies?  I followed the installation instructions and everything else is working.  Output of arrayfire.tests attached.

Simple        algorithm: PASSED
Simple            arith: PASSED
Simple            array: PASSED
Simple

[2018-06-04 21:00] pavanky commented on #183
This is weird. Can you run `!ldd /opt/arrayfire/lib/libafcuda.so` from both locations ?

[2018-06-04 21:02] pavanky commented on #184
@rwatkins77 The tests are not super reliable. Can you try using `qr` on a normal array to see if it works ?

[2018-06-04 21:02] pavanky commented on #184
@rwatkins77 can you show the error when you are calculating pi ?

[2018-06-04 21:24] rwatkins77 commented on #184
We were having problems with the cuda-toolkit and thought that we fixed them.   Things (including the pi program)  now work in command line python or ipython but not in spyder, where it doesn't detect the toolkit.   This seems to be the source of the problem

[2018-06-05 00:33] matkraj commented on #183
!ld outputs:

- ipython

- jupyter-notebook

[2018-06-05 02:46] matkraj commented on #183
I run ipython and jupyter-notebook from the same terminal (just to be sure the base env are the same)
the ldd output:
`	linux-vdso.so.1 (0x00007fffa234b000)
	libdl.so.2 => /lib/x86_64-linux-gnu/libdl.so.2 (0x00007f7ad1855000)
	librt.so.1 => /lib/x86_64-linux-gnu/librt.so.1 (0x00007f7ad164d000)
	libnvrtc.so.9.1 => /opt/arrayfire/lib/libnvrtc.so.9.1 (0x00007f7acff21000)
	libcublas.so.9.1 => /opt/arr

[2018-06-05 02:51] matkraj commented on #184
I have the same problem in `ipython3 -m arrayfire.tests`
Could be related to issue https://github.com/arrayfire/arrayfire-python/issues/183

[2018-06-05 05:40] pavanky commented on #184
@matkraj Can we move the conversation to the other issue ?

[2018-06-05 05:40] #184 closed

[2018-06-05 05:41] pavanky commented on #183
From #184, it looks like monte carlo estimation of pi is a good way to reproduce this issue.

[2018-06-05 06:06] pavanky commented on #183
This is weird. I was able to reproduce this within ipython (both with regular version and anaconda version).

[code]

[2018-06-13 01:15] matkraj commented on #183
I tried to follow some different jupyter kernel suggestions but it was not any success.
I transferred my program from notebook to ipython and it seems also problematic. It works once in maybe 20 tries and otherwise fails at `af.moddims` command. Errors are altering _invalid memory access in CUDA (77)_, _jit issue in CU (700)_. The program worked flawless before updates.

[2018-06-20 00:04] kdbarajas commented on #183
I'm having the same issue with JIT when using QtConsole (both from Terminal and inside Spyder). It seems that for some reason ArrayFire loses contact with CUDA toolkit within Jupyter. Because of this, I thought this may be a Jupyter QtConsole issue because ArrayFire connects with CUDA toolkit within Python and iPython consoles opened from Terminal so I'm referencing my issue posted there as well (

[2018-06-21 17:56] crpacheco opened #185 "set_intersect not working with ParallelRange"
Hi

Suppose I have a matrix M, a vector V and I want to intersect each row of M with V.
If I use the classic for

[code]

It works very well, but if I use the parallel for

[code]

It fails with the next error message:

**Invalid argument at index 1
Expected: (first_info.isVector() || first_info.isScalar())**

Note: using af.broadcast instead of parallel for gives the same error message.

What can

[2018-06-21 20:02] pavanky commented on #185
@crpacheco The output size of set operations is based on the data inside the input array. You cant run this in parallel and generate an array of a fixed size.

[2018-06-21 23:41] #185 closed

[2018-08-08 14:05] mchandra opened #186 "Error in `af.sign` documentation"
See https://github.com/arrayfire/arrayfire/issues/2073

[2018-08-08 16:05] 9prady9 commented on #186
Addressed in #188

[2018-08-08 16:05] #186 closed

[2018-08-10 23:30] ELBe7ery opened #189 "Unable to create a sparse matrix from the host"
I was trying to follow the documentation in order to create a sparse matrix of type csr

[code]

though i am having this error

[code]

I am not sure what is the main cause of the error here; as much as i know i am passing the correct types for all the args. Can anyone provide an example ?

[2018-09-19 16:51] Msabih opened #191 "arrayfire-python conflict with pycuda on anaconda with Linux"
Hi,

I am using anaconda on linux, I have been previously using arrayfire on windows fine. I installed latest arrayfire on the Linux OS.. The error was

[code]
After spending a day trying to think as to what the problem could be, I discovered that the problem is due to conflict with the install of pycuda, as soon as I removed pycuda, the arrayfire tests passed. The different version of pycuda give

[2018-10-05 04:04] nigulasikaochuan opened #192 "Error"
I am using arrayfire 3.6 on windows，the code is as below：
![default](https://user-images.githubusercontent.com/34807360/46515476-9ed1cf80-c896-11e8-99f8-195d532dc717.PNG)
![2](https://user-images.githubusercontent.com/34807360/46515477-a3968380-c896-11e8-9f6a-91a73db3b9fb.PNG)
we can see the （-5）**2 is 24 which is obvious wrong.

[2018-10-05 04:06] 9prady9 commented on #192
@nigulasikaochuan You have to use [ArrayFire 3.5.1](http://arrayfire.s3.amazonaws.com/index.html#!/3.5.1%2F) with latest release or master of arrayfire-python project. We haven't updated the wrapper to 3.6 yet. Can you try the code with 3.5.1 ArrayFire installation instead and let me know how that goes.

[2018-10-06 04:44] nigulasikaochuan commented on #192
I try it in arrayfire 3.5,and the 5**2 still equals to 24, the coda is as below:
![10 061242](https://user-images.githubusercontent.com/34807360/46567443-782e9a00-c965-11e8-9cbd-b7e94a6505e4.png)

[2018-10-06 04:45] 9prady9 commented on #192
@nigulasikaochuan I was able to reproduce it in current development branch as well. I have sent in a PR  already https://github.com/arrayfire/arrayfire/pull/2305

[2018-10-06 08:40] nigulasikaochuan commented on #192
Ok，thanks for your effort，and i want to konw when the python wrapper will support arrayfire 3.6

[2018-10-06 08:44] 9prady9 commented on #192
@nigulasikaochuan I think it will take a while before anyone from our team gets to it as we are occupied with other tasks from the priority list.

I haven't worked on python wrapper that much but I will try to look into it. If it can be done with minimal changes, I will try to get it out in couple of weeks.

[2018-10-22 14:28] mlloreda commented on #189
Thank you for reporting this, @ELBe7ery.

Incorrect array types were being passed in to ArrayFire. PR #198 contains fix.

[2018-10-23 20:33] #189 closed

[2018-12-21 13:59] tvandera opened #199 "`bench_cg.py` fails with NVRTC Error"
Running bench_cg. py from the examples, gives me this error:

[code]

System: Linux K80 4.15.0-1035-azure #36~16.04.1-Ubuntu SMP Fri Nov 30 15:25:49 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
python --version:
Python 3.7.1
[code]

[2018-12-21 18:53] pavanky commented on #199
@umar456 I thought this was fixed on 3.6 ?

[2018-12-21 18:55] umar456 commented on #199
Yeah, thats what I thought. I haven't looked at this yet. Will get to it later today.

[2019-01-02 10:39] tvandera commented on #199
Hi Guys,

I have the same issue in some of my own codes. How do I at least get a more meaningful error message, such that I know that the code to be JITed it too big??

thanks,
Tom

[2019-01-10 00:44] hyliu1989 opened #201 "Windows Arrayfire C library loading error even after using ctypes to help debug"
It seems there is a missing DLL problem that prevents Arrayfire from running on a new installed Windows machine.
The Python (3.7.1) is installed through Anaconda, and the Arrayfire binary installation file and Visual C++ Runtime 2015 are also installed. All in x64 version (so not exactly the same as #166).
However, when importing in Python by `import arrayfire`, I still get the following error
[co

[2019-01-10 00:52] hyliu1989 commented on #201
Missing DLL found and solved by another working machine.

Thanks to [this site](https://www.codeproject.com/Articles/560816/Troubleshooting-dependency-resolution-problems-usi), which introduces **Sysinternals Process Monitor**, that I am able to use to find out which DLL is missing.

It turns out the missing one is `ucrtbased.dll` which should be located in system32 after installing one of the upd

[2019-01-11 00:33] pavanky commented on #201
@umar456 doesnt arrayfire libs have documentation about installing visual studio runtime ?

[2019-01-11 03:37] hyliu1989 commented on #201
It appears that the missing DLL `ucrtbased.dll` is the debug model library of `ucrtbase.dll` which will be installed by selecting "Common Tools for Visual C++ 2015" during VC2015 installation. (https://stackoverflow.com/questions/33743493/why-visual-studio-2015-cant-run-exe-file-ucrtbased-dll)

Maybe we can update the instruction [page](http://arrayfire.org/docs/installing.htm) with this tiny sele

[2019-01-11 18:43] pavanky commented on #201
@hyliu1989 where did you get arrayfire libs from ?

[2019-01-11 18:48] hyliu1989 commented on #183
give this thread a bump. It will be very useful if we can use arrayfire in Jupyter notebook environment.

[2019-01-11 18:50] hyliu1989 commented on #201
I got it from the binary provided in https://arrayfire.com/download/. At the time of download, it was Windows v3.6.2.

[2019-01-22 20:17] hyliu1989 commented on #201
quote from my colleague:

[2019-01-27 12:42] funcwj opened #202 "Error when using af.set_backend('cuda')"
When I try to switch backend using `af.set_backend('cuda')`, I got error like:

![report](https://user-images.githubusercontent.com/18741082/51801038-71f55e00-2273-11e9-8007-0b17650f1ada.PNG)

It seems that I do not have cuda devices as candiated backend although I have 8 gpus in fact, and the output of `af.info()`
[code]
and `af.get_backend()`
[code]
So does I missing something when installing th

[2019-01-30 19:31] jcasey-beamio commented on #179
I have the same issue, has anyone come up with a solution?

[2019-02-02 10:18] ZacDiggum commented on #201
@pavanky
Is this `ucrtbased.dll` really necessary? I can't remember to have to install VS 2015 in order to get older versions of Arrayfire to work. Maybe you could drop the dependency or deploy the DLL with the AF installer?

[2019-02-02 23:51] pavanky commented on #201
@umar456 can you help figure this out?

[2019-02-03 18:01] umar456 commented on #201
Sorry guys. I can look into this early next week.

[2019-02-04 05:55] 9prady9 commented on #201
@hyliu1989 @ZacDiggum

I have been looking into the transitive dependencies for `afcpu.dll` & `af.dll` and both of them list only `ucrtbase.dll` , I do not see `ucrtbased.dll` anywhere in the entire dependency list. I used dependency walker to do this. The debug dll has `d` suffix and it is unlikely that a dll looking for `ucrtbase.dll` will pickup `ucrtbased.dll`.

Can you please do the same for

[2019-02-04 06:12] 9prady9 commented on #201
@hyliu1989 @ZacDiggum Also, can you please tell us how did you install arrayfire-python package ? via conda or pip ?

[2019-02-04 08:37] 9prady9 commented on #201
@ZacDiggum Regarding the mkl loading issue, is the path to dll files of ArrayFire installation added to `PATH` environment variable ? Since, mkl does runtime loading of it's own dlls, it wouldn't work if `%AF_PATH%/lib` is not added to `PATH`.

[2019-02-04 08:58] ZacDiggum commented on #201
Yes, the ...af/v3/lib folder is in PATH. Somehow this MKL error is new.

for dependencywalker:

af.dll seems to be functional

afcpu.dll says:
![afcpu](https://user-images.githubusercontent.com/11495528/52198486-4e2dab80-2863-11e9-9787-9df3b18c1fbf.JPG)

this is for the Win7 Pro 64 system

[2019-02-04 09:04] 9prady9 commented on #201
afaik, you can't really search the list of dlls directly in the dependency-walker GUI. Hence I asked you to save that as text file - save icon in the GUI. The text file can be searched for names like `ucrtbased.dll` or `ucrtbase.dll`

[2019-02-04 14:09] ZacDiggum commented on #201
Sorry, here is the output from dependencywalker regarding afcpu.dll on the win 7 system with the mkl error:

[afcpu.txt](https://github.com/arrayfire/arrayfire-python/files/2828323/afcpu.txt)

[2019-02-04 16:08] hyliu1989 commented on #201
@9prady9 I also installed arrayfire-python through pip. That's why I tried ctypes to bypass python wrapper to see if the problem is in C library.
Here are the two files from dependency walker
[af.txt](https://github.com/arrayfire/arrayfire-python/files/2828770/af.txt)
[afcpu.txt.zip](https://github.com/arrayfire/arrayfire-python/files/2828772/afcpu.txt.zip)

Also I ran the process monitor and reco

[2019-02-04 18:00] ZacDiggum commented on #201
@9prady9  Here is the output from dependency walker for afcpu.dll on my Win 10 Pro 64 system with Python 3.6.7 and pip-installed af-python:
[afcpu.txt](https://github.com/arrayfire/arrayfire-python/files/2829223/afcpu.txt)
Hope this is helpful.

[2019-02-05 05:15] 9prady9 commented on #201
Thank you for the traces and logs, I found the dll that is loading debug VC runtime dll which is in turn loading the ucrtbase debug dll. It is an upstream dependency (glbindingd.dll) but not `afcpu.dll` by itself. It is interesting though why on the windows machine I tested, I didn't find `ucrtbased.dll` for afcpu.dll dependency walk. In any case, I think I know the reason where this debug dll is

[2019-02-05 07:04] 9prady9 commented on #201
@ZacDiggum @hyliu1989 There is a work around for your current situation if you don't use graphics functionality from ArrayFire. Download the http://arrayfire.s3.amazonaws.com/3.6.2/ArrayFire-no-gl-v3.6.2.exe and use that, that won't look for debug version of dlls.

[2019-02-05 07:07] 9prady9 commented on #201
@umar456 We should probably just do a new fix release instead of regenerating now and then again doing it for 3.6.3 again.

[2019-02-06 02:21] kareem1925 opened #204 "Convert af.array into numpy array"
Is there a way to convert af arrays to numpy because i want to use the bilateral filter in arrayfire and then use the matrix again with opencv

[2019-02-06 15:55] mark-poscablo commented on #204
Hi @kareem1925, an Array object in Python has a method called `to_ndarray()`. This should do the job. Please see the [documentation](http://arrayfire.org/arrayfire-python/arrayfire.array.html?highlight=to_ndarray#arrayfire.array.Array.to_ndarray) for more details.

[2019-02-10 13:18] ZacDiggum commented on #201
@9prady9
Thank you! The no-gl installer works.

[2019-02-15 18:39] hyliu1989 commented on #201
Hi @9prady9 Where can we download the no GL version for Ubuntu? I wonder that can also be a workaround for #183 .

[2019-02-15 19:39] 9prady9 commented on #201
http://arrayfire.s3.amazonaws.com/index.html#!/

Go to 3.6.2 folder and you will see no-gl installer binaries for all
platforms that we currently support.

On Sat 16 Feb, 2019, 00:09 Hsiou-Yuan (Herbert) Liu <
notifications@github.com wrote:

[2019-03-01 16:21] hyliu1989 commented on #183
An older version of ArrayFire C library (3.5.1) seems to be working with Jupyter notebook. I would suggest to give it a try.

Is there any big update between 3.5.1 and 3.6.2?

[2019-03-09 10:35] D-K-E opened #205 "Error in plot3d.py example"
Hi,
I recently installed arrayfire python bindings. It passes all the tests and it launches few of the examples. However I got the following error when I tried to launch `plot3d.py` in the `examples/graphics` folder. Any idea ?

[code]

[2019-03-09 10:39] 9prady9 commented on #205
From the error, it seems like `line` is not an ArrayFire array. Otherwise, it would have the numdims member function.

[2019-04-19 15:56] ivan-gusachenko opened #206 "runtime error in 'bench_cg.py'"
Hello,
I'm getting a runtime error running the bench_cg.py example:
RuntimeError: In function std::vector<char> cuda::compileToPTX(const char*, std::string)

Also, the af.info() seems to see the GPU device, but doesn't assign it an ID, not could detect its memory and compute capability. At the same time, the bench_fft.py seems to work.

`(venv3) igu@demeter:~$ nvidia-smi
Fri Apr 19 17:45:53 2019
+

[2019-06-28 20:49] nelsonc1222 opened #207 "Could not set ArrayFire backend"
Hello,

I am using the Python binding. I get an error when I try to load any of the back ends. Arrayfire was built with CUDA 9.2 loaded. Any ideas about next steps would be appreciated.

![image](https://user-images.githubusercontent.com/52333394/60370393-8b3a3c00-99c4-11e9-990c-9f3e17a97ffa.png)

[2019-07-30 17:56] hyliu1989 opened #208 "conflict with matplotlib.pyplot"
These codes will trigger an error in just in time compiler
[code]
and the error output is
[code]

However, without any major change, the following two will not,
[code]
or
[code]

Here is my python environment obtained by running `python` in a terminal.
[code]

[2019-08-09 06:51] r-barnes opened #209 "View AST/kernels"
Is there any sort of debug mode that would allow one to view the ASTs or the resulting kernels?

[2019-08-09 09:09] 9prady9 commented on #209
@r-barnes Do you mean JIT kernels ?

[2019-08-09 09:11] 9prady9 commented on #209
Please note that this new environment variable is not yet available in 3.6.4 release.

[2019-08-12 08:01] 9prady9 commented on #209
Please close the issue if you are question has been answered.

[2019-08-14 17:00] r-barnes commented on #209
I think this'll do what I need. I'll try to test sometime this week and report back.

[2019-08-14 17:02] r-barnes commented on #209
To clarify, you mean master of arrayfire proper, not arrayfire-python, which hasn't been committed to lately.

[2019-08-14 18:34] r-barnes commented on #209
This works pretty great, thanks.

[2019-08-14 18:34] #209 closed

[2019-09-25 20:17] joelb123 opened #213 "do not create root-level "tests" package"
Merge pull request #211 moved the tests/ directory from arrayfire.tests to the root, resulting in installation of a root-level python package called "tests".  While pip will happily make this in your virtualenv, every sane package manager will complain.  Most python coders consider it surprising and therefore bad design for "pip install mypackage" to create another top-level package other than "my

[2019-09-26 13:21] roaffix commented on #213
Hello. `tests/` dir creation is a bug, because I forgot to add `include` option in metatag `[options.packages.find]` in `setup.cfg`. I'll add another PR to fix this bug ASAP.
And as for the tests in the root, this is a bad practice to keep `tests/` within your lib. You will install them every time with your package, but you don't need them. It's okay to keep tests for OS integration or something,

[2019-09-26 13:33] roaffix commented on #213
Try to run `python setup.py build` in PR #214 branch. `tests/` dir should not be created now.

[2019-09-26 13:53] 9prady9 commented on #213
@joelb123 Looks like @roaffix fixed this behavior in #214 . Can you please confirm this isn't happening per your test.

Interesting that current master has `tests` in exclude list of `setup.cfg` and yet this happened.

[2019-10-03 13:58] hyliu1989 commented on #183
I was able to get rid of this problem by avoiding Anaconda altogether. Tested on a freshly install Windows 10 machine with Python 3.7 and a Linux machine previously having this problem but just use different python executable.

For my old linux machine, I did:
1. remove anaconda python from PATH
2. pip install jupyter notebook
3. (no pip install arrayfire as it was already installed)
4. run a note

[2019-10-09 15:45] raulbocanegra opened #215 "Import arrayfire freezes on Ubuntu with Intel opencl"
Hi!
I have installed arrayfire 3.6.2 on `/opt`, build and run the tests correctly on cpu and opencl backends (cuda not supported), then did `pip install arrayfire`. I have an Intel i7-8550U.
When I run `python` and do `import arrayfire as af` it freezes and I can't use it.

[2019-10-09 15:49] raulbocanegra commented on #215
arrayfire/arrayfire#2493

[2019-10-09 15:51] raulbocanegra commented on #215
https://github.com/arrayfire/arrayfire/issues/2493

[2019-10-16 20:52] raulbocanegra commented on #215
Using arrayfire 3.6.4 fix the issue.

[2019-10-16 20:52] #215 closed

[2019-10-21 05:25] Linuxboy2007 opened #216 "Error when using af.af.lapack.norm"
When I try to compute norm of matrix (vector) I got error:
`ArrayFire v3.6.4 (CUDA, 64-bit Linux, build 1b8030c)`
`Platform: CUDA Toolkit 10.0, Driver: 418.87.00`
`[0] GeForce GTX TITAN, 6081 MB, CUDA Compute 3.5`
`(100, 100)`
`Traceback (most recent call last):`
 ` File "/home/linuxboy/PycharmProjects/test/main.py", line 8, in <module>`
   ` nrma = af.lapack.norm(dA,norm_type = af.NORM.MATRIX_INF

[2019-10-21 20:07] Linuxboy2007 commented on #216
II solved the problem - I downgraded version of ArrayFire to 3.6.2.

[2019-10-21 20:07] #216 closed

[2019-10-29 15:09] #213 closed

[2020-01-12 21:05] #204 closed

[2020-01-12 21:06] kareem1925 commented on #204
i'm sorry to be late. thanks a lot for your reply

[2020-01-23 21:55] miketrumpis opened #217 "Path error on MacOS (easy fix!)"
I installed the ArrayFire "pkg" installer for v3.6.4, which installs to /opt/arrayfire. After a long time trying to debug my "RuntimeError: Could not load any ArrayFire libraries.", I realized that the hard-coded path is simply wrong!

https://github.com/arrayfire/arrayfire-python/blob/aead0394ffda9bd820279f59a84a9dcba6e3691f/arrayfire/library.py#L492-L500

I changed this to the correct path, and

[2020-01-23 21:57] umar456 commented on #217
That would be wonderful!

[2020-02-17 13:37] ysnan opened #219 "RuntimeError: Could not load any ArrayFire libraries."
I tried to install the arrayfire in my Linux workstation via `pip install arrayfire`. It successfully installed but was not able to import. When I tried to use `import arrayfire`, it showed:

  File "<stdin>", line 1, in <module>
  File "/home/ysnan/anaconda3/lib/python3.6/site-packages/arrayfire/__init__.py", line 56, in <module>
    from .library    import *
  File "/home/ysnan/anaconda3/lib/pyt

[2020-02-17 13:39] 9prady9 commented on #219
Which version of ArrayFire do you have installed?

[2020-02-17 13:56] ysnan commented on #219
Thank you for your prompt reply. It is my fault not to notice I need to install ArrayFire in advance😭 I will try it and if any problem occur I will ask again.

[2020-02-17 15:44] ysnan commented on #219
Sorry to bother you again. I downloaded the ArrayFire binary file and installed it. But how can I link the ArrayFire with python wrapper? The instruction link in _Post Installation_ section in `README.md` file has been missing. Thank you!

[2020-02-19 03:07] 9prady9 opened #220 "Broken hyperlink in post installation secion of README"

[2020-02-19 03:08] 9prady9 commented on #219
Sorry about that, we will soon fix that ( raised this issue
https://github.com/arrayfire/arrayfire-python/issues/220).

The link most likely points to this section
http://arrayfire.org/docs/installing.htm#Linux

On Mon, Feb 17, 2020 at 9:14 PM ysnan <notifications@github.com> wrote:

--
Pradeep
https://www.linkedin.com/in/pradeepgarigipati

[2020-02-19 03:27] #219 closed

[2020-02-20 04:17] 9prady9 commented on #220
I have re-enabled wiki which fixed the broken link in question.

[2020-02-20 04:17] #220 closed

[2020-03-23 22:55] mariobecerra opened #223 "Linking to Anaconda environment in Ubuntu"
Hi.

Is there a guide on how to direct the Arrayfire installation to an Anaconda environment? I saw a couple of issues here, but they were based on Windows and Mac OS. I'm working with Ubuntu 19.10.

If I try to import Arrayfire in Python I get the following:

[code]
You can see that it's trying to look for Arrayfire in the `anaconda3` folder, and it is obviously failing because my Arrayfire insta

[2020-03-23 22:56] umar456 commented on #223
Python cannot fine the ArrayFire shared library. You can try to define the AF_PATH environment variable or add the ArrayFire library path in LD_LIBRARY_PATH.

[2020-03-23 23:17] mariobecerra commented on #223
I tried the first option. I added `export AF_PATH="/opt/arrayfire/"` in my ` bashrc` file and sourced it. However, if I try to import the `arrayfire` package in Python I get the same error. I'm not sure exactly how to tell Python to use that variable. Any ideas?

Sorry about this, I'm really bad at doing all this environment variables and shared libraries stuff.

[2020-03-23 23:53] umar456 commented on #223
Try setting LD_LIBRARY_PATH to the location of the libafcpu.so. so in your case `export LD_LIBRARY_PATH=/opt/arrayfire/lib64:$LD_LIBRARY_PATH`

[2020-04-06 14:01] xichaoqiang opened #224 "arrayfire seems a bit slower than cupy"
I compare the compute speed with arrayfire,cupy,and numpy.

The resuts show cupy is a bit faster than arrayfire.

Is there another way to conver af.array to np.array?

Is the speed of convert of af.array to np.array slow?
[code]

Resut shows that.
[code]

[code]

[code]

[code]
[code]

[2020-04-06 14:15] xichaoqiang commented on #224
When I try the .to_ndarray() function,the speed of arrarfire is faster than before.

[2020-04-06 14:15] #224 closed

[2020-04-06 14:49] xichaoqiang opened #225 "timeit error in example convolve.py"
When I run the convolve.py

I met a error with timeit function
![image](https://user-images.githubusercontent.com/30900789/78571195-83170300-7858-11ea-8bcc-fea5b1d64c52.png)
I will get sample_time= 0 after sample_trials=3.So It will bring a ZeroDivisionError.

[2020-04-07 01:52] xichaoqiang opened #226 "Can add an af.multiply for two matrix or vector element-wise multiply?"
Feature request.

[2020-04-07 03:04] syurkevi commented on #226
Elementwise multiplication can be performed as follows:
[code]
A full list of overloaded operators can be found in the array class here: https://github.com/arrayfire/arrayfire-python/blob/master/arrayfire/array.py
Unfortunately, these operators seem to be missing from the documentation...

[2020-04-07 07:37] xichaoqiang commented on #226
Yes.It works.

[2020-04-07 07:37] #226 closed

[2020-05-15 02:58] ZHAOZETAO opened #229 "RuntimeError: Could not load any ArrayFire libraries"
I have include export LD_LIBRARY_PATH=/home/ztzhao/Downloads/arrayfire/lib64:$LD_LIBRARY_PATH in my ~/.bashrc, but when I want to run python -m arrayfire.tests it still can not load arrayfire libraries.

[2020-05-15 03:02] syurkevi commented on #229
Are you using the cuda backend? If so you may also need to add the cuda paths. For example:
export LD_LIBRARY_PATH=/usr/local/cuda/lib64:/usr/local/cuda/nvvm/lib64/:/opt/arrayfire/lib64/:$LD_LIBRARY_PATH
More details here: https://github.com/arrayfire/arrayfire-python/wiki
If that doesn't help, can you show the specific error message you are seeing? This may be better suited for the arrayfire-org

[2020-05-15 03:17] ZHAOZETAO commented on #229
After change I run python -m arrayfire.tests, it gives different error:
(base) ztzhao@cw1:~$ python -m arrayfire.tests
Simple        algorithm: FAILED

ERROR:root:Traceback (most recent call last):
  File "/home/ztzhao/anaconda3/lib/python3.7/site-packages/arrayfire/tests/simple/_util.py", line 32, in run
    test(verbose)
  File "/home/ztzhao/anaconda3/lib/python3.7/site-packages/arrayfire/tests/

[2020-06-01 12:39] Lattitude75 opened #230 "Unable to set the backend to opencl"
I use the following driver for my card with mesa-opencl-icd loader and radeon driver.
[code]
Installed Arrayfire and made sure that all the libraries are loaded. Using the ArrayFire.jl, arrayfire loads in Julia perfectly and runs on my AMD card.
[code]
But, in my Python the array fire loads with the following info:
[code]
I also use the following in my .bashrc to update my environment:
[code]
When

[2020-06-01 12:41] 9prady9 commented on #230
I believe the set_backend call should be the first arrayfire call in C++. I would think that is same here in python wrapper too assuming python wrapper doesn't add anything custom. Try moving set_backend as the first one after importing the package.

[2020-06-01 12:56] Lattitude75 commented on #230
I tried calling the set_backend immediately after importing the package.
[code]
I still get the same error.

[2020-06-01 12:58] 9prady9 commented on #230
@syurkevi Might have a better idea of what's happening. He should be online soon. Please wait for his response.

[2020-06-17 11:27] AndyP103 opened #231 "medfilt1 calculates median for dim1 only, then copies this to all other dims"
In arrayfire previously, I've used medfilt1 to apply a median filter to multiple dimensions.  However, in the python binding the output from dim1 is copied to all other dims.

For example:
import arrayfire as af
data = af.randn(10, 10)
filt_data = af.medfilt1(data, 3)

filt_data.to_ndarray()
array([[ 0.3926208 ,  0.3926208 ,  0.3926208 ,  0.3926208 ,  0.3926208 ,
         0.3926208 ,  0.3926208 ,

[2020-08-20 16:33] mboisson opened #236 "Release for ArrayFire 3.7.2 ?"
Hi,
It seems that the last release of arrayfire-python dates from 2 years ago, while there is a release of ArrayFire  a few weeks ago. Do these not need to be kept in sync ? Can I just install the release from 2 years ago with the new version of ArrayFire ?

Installing from the github master branch is a big no-no, so please don't suggest it.

[2020-08-20 16:35] umar456 commented on #236
We are finalizing the 3.8.0 release and we will update the wrappers and push out a release.

[2020-08-20 16:37] mboisson commented on #236
Ah, ok. Any ETA on this ? I have a user who wants this installed with the python wrapper, but the current state is kind of a limbo, with the two latest versions not matching.

[2020-08-20 16:42] umar456 commented on #236
The 3.8.0 should be going out early next week. This is a smaller change so the update shouldn't take too long. I would think in a couple of weeks for the wrappers to be updated.

[2020-09-09 17:51] mboisson commented on #236
Since version 3.8.0 of ArrayFire itself has yet to be released, I assume we should expect delays on this issue ?

[2020-09-21 13:39] nikhilnagaraj opened #237 "Failed Tests"
The following tests (below) fail when `make test` is run on [Arrayfire 3.7.1](https://github.com/arrayfire/arrayfire/releases/tag/v3.7.1). I have installed the required dependencies as shown [here](https://github.com/arrayfire/arrayfire/wiki/Build-Instructions-for-Linux#cuda-backend-dependencies). Why are these tests failing?

[code]

[2020-10-15 00:31] luckydog1996 opened #239 "RuntimeError: Could not load any ArrayFire libraries."
Hi, I am using MACOS, I have 1. Download and install binaries 2. pip install arrayfire 3. export DYLD_LIBRARY_PATH=/opt/arrayfire/lib:$DYLD_LIBRARY_PATH

It can be used with command line
<img width="720" alt="Screenshot 2020-10-15 at 08 29 41" src="https://user-images.githubusercontent.com/53863992/96059437-94ecf900-0ec0-11eb-8f4b-1302156e91d5.png">

But when I go to vscode and using the same cond

[2020-10-15 19:04] pavanky commented on #239
Conda usually includes its own set of C++ and CUDA libraries which maybe different from your system ones. Perhaps arrayfire works with the system libs but not the Conda ones. Try running `os.system(/path/to/libafcuda.so)` and / or other arrayfire libraries.

[2020-11-08 15:05] fuomag9 commented on #239
Same issue here, I've tried everything but it won't load them

[2020-11-09 16:52] mcobzarenco commented on #156
That would be amazing! Or alternatively (and arguably simpler than parsing a small expression DSL like einsum does) a `tensordot` function that allows summing an arbitrary number of dimensions would be provide all the same functionality. FWIW, I am working on autodiff of tensor valued functions for an ML application; in general, derivatives of matrix valued functions can't be expressed only in ter

[2020-11-13 19:44] roaffix commented on #239
Try to extend `LD_LIBRARY_PATH` with path to ArrayFire library (`.sh` setup file installs it to `/home/user/Downloads/arrayfire`). Worked for me

[2021-01-11 21:02] mboisson opened #246 "Specifying the location of arrayfire *without* LD_LIBRARY_PATH"
Hi,
We are not using LD_LIBRARY_PATH on our system because
https://gms.tf/ld_library_path-considered-harmful.html

Is there another way than LD_LIBRARY_PATH to point to the location of the arrayfire libraries to the python wrapper ?
https://github.com/arrayfire/arrayfire-python/wiki

[2021-01-11 21:02] mboisson opened #247 "Location of ArrayFire libraries *without* LD_LIBRARY_PATH"
Hi,
We are not using LD_LIBRARY_PATH on our system because
https://gms.tf/ld_library_path-considered-harmful.html

Is there another way than LD_LIBRARY_PATH to point to the location of the arrayfire libraries to the python wrapper ?
https://github.com/arrayfire/arrayfire-python/wiki

[2021-01-11 22:17] mboisson commented on #246
Not sure why it created the issue twice. Closing as a duplicate of #247

[2021-01-11 22:17] #246 closed

[2021-01-11 22:18] mboisson commented on #247
I think I found `AF_PATH`, except that I need to patch `library.py` to search into `AF_PATH/lib64` rather than `AF_PATH/lib` on our system.

[2021-01-11 22:46] mboisson commented on #247
Indeed. With this patch : https://raw.githubusercontent.com/ComputeCanada/easybuild-easyconfigs/24d7c83ab19d4d5da346daaca7863b4dad18988d/easybuild/easyconfigs/a/ArrayFire/arrayfire-python-3.6.20180117-lib64.patch

and by defining `AF_PATH`, libraries are found.

[2021-01-11 22:46] #247 closed

[2021-01-12 15:41] WKrauze opened #248 "Error: In function void print() after installation"
I have a problem with arrayfire-python. I followed all installation instructions, including adding directories to LD_LIBRARY_PATH:
`$ echo $LD_LIBRARY_PATH`
`/opt/arrayfire/lib64/::/opt/cuda/lib64/:/opt/cuda/nvvm/lib64/`

In `/etc/ld.so.conf.d/arrayfire.conf` I have `/opt/arrayfire/lib64`

However, when I try to run helloworld.py from examples, I get:
[code]

When I am in the python console and I

[2021-01-14 09:21] WKrauze commented on #229
I believe this can be combined with Issue #248 , since the error messages are the same.

[2021-01-19 08:16] JackyChan97 opened #249 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xd5 in position 120: invalid continuation byte"
when using the function af.load_image() there was an error.

Traceback (most recent call last):
  File "VEM.py", line 847, in <module>
    uniform_dataset_eval(data_dir)
  File "VEM.py", line 761, in uniform_dataset_eval
    img, kernel = EM_Alg(l, 60, 19)
  File "VEM.py", line 512, in EM_Alg
    blur_img = af.image.load_image(data_dir + fn, is_color=False)
  File "D:\anaconda\envs\open-mmlab3.7\l

[2021-01-19 08:37] JackyChan97 commented on #249
I changed the system language to English, and the problem was solved

[2021-01-19 08:37] #249 closed

[2021-01-19 08:59] JackyChan97 commented on #248
i have the same problem

[2021-01-22 11:25] WKrauze commented on #248
The solution to this problem can be found on Slack channel.
To cite:

And the solution: write in terminal:
`LD_PRELOAD=<full_path_to_libafcuda> python your_python.py`

For example:

`LD_PRELOAD=/opt/arrayfire/lib64/libafcuda.so python3 helloworld.py`

If you want to add this environment variable in PyCharm, follow the instructions given [here](https://stackoverflow.com/questions/42708389/how-to-se

[2021-01-22 11:25] #248 closed

[2021-01-22 11:26] WKrauze commented on #229
The solution to this problem is given in #248 . I believe this issue can be closed.

[2021-02-10 04:24] WMX567 opened #250 "Cannot use ArrayFire on Google Colab"
I try to use ArrayFire on Google Colab, but I got:
/tmp/tmpxft_000005af_00000000-10_coreset.o: In function `main':
tmpxft_000005af_00000000-5_coreset.cudafe1.cpp:(.text+0x4b): undefined reference to `af::array af::constant<int>(int, long long, long long, af_dtype)'
tmpxft_000005af_00000000-5_coreset.cudafe1.cpp:(.text+0x5e): undefined reference to `af::print(char const*, af::array const&)'
tmpxft_

[2021-02-24 02:56] zzjjbb opened #251 "backend does not load with proper order"
[This line](https://github.com/arrayfire/arrayfire-python/blob/28a0f610c5329ebc718ce4d924f870c3651bfb3e/arrayfire/library.py#L646) has a comment `# Iterate in reverse order of preference`. However, it loads them with some random order, because the object to iterate is a `set`, which doesn't keep the order. In my Linux computer, when I run `import arrayfire as af`, the function will be called and i

[2021-02-24 04:12] syurkevi commented on #251
This is a mistake in the dev branch, the master branch should still have the correct code. Thank you for catching that! I'll make sure to address if we decide merge dev into master. There are a few incoming changes (related to library.py) that need to go into effect before we will be looking at the dev branch.

[2021-05-07 22:41] brianmcconnel opened #255 "RuntimeError: In function void opencl::fft_inplace"
Using this arrayfire release (https://arrayfire.s3.amazonaws.com/3.8.0/ArrayFire-v3.8.0_Linux_x86_64.sh) on the opencl backend with the python api I get the following error.
[code]
Error
[code]

I'm running Ubuntu 20.04 with Nvidia OpenCL Drivers. I have arrayfire debugging enabled and got the following output when the error occurred.

[code]

[2021-06-28 08:23] savvyyabby opened #256 "python -m arrayfire.tests fails because tests directory is not under arrayfire"
Simple one... in the current release the "tests" folder is not under arrayfire directory so the command

`python -m arrayfire.tests`

fails with a module not found error

Moving tests directory into arrayfire fixes that issue to make it consistent with the documentation

Without any change... the command

`python -m tests`

works fine... so maybe change the documentation?

[2021-07-02 11:54] #256 closed

[2021-07-02 11:55] savvyyabby commented on #256
pretty obvious 'python -m tests' is the solution

[2021-07-07 06:58] hexane360 opened #257 "Backend choice reset inside of threads"
Inside a new thread, Arrayfire uses the default backend rather than the backend set by the parent thread:

[code]

Is this expected behavior and/or documented anywhere? I would think that the active backend should be process local rather than thread local.

If it matters, here's my version info:
OS: Ubuntu 20.04
arrayfire: 3.9.0 (commit [955152b6](https://github.com/arrayfire/arrayfire/commit/9551

[2021-07-07 09:47] 9prady9 commented on #257
@hexane360 set_device, set_backend these are all per thread states, they are not inherited automatically. So I would say, it is not reset, but rather it is left to default value in another thread, hence you are not seeing the values you are setting on main thread.

@umar456 @syurkevi Can you please redirect me to the location in our docs regarding threads in ArrayFire if we have it - I can't recol

[2021-10-04 23:50] #172 closed

[2022-01-20 18:31] melonakos commented on #250
Hi @WMX567, we now support Google Colab through Python Wheels. You can use this [example Colab file](https://colab.research.google.com/drive/1bOQY_XRn7JWWGRU6tDb5p2KMSRsYrzUE?usp=sharing) to see how it works with the following commands:

[code]

Good luck and let us know if you have any further questions!

[2022-01-20 18:31] #250 closed

[2022-04-06 13:02] 3togo commented on #106
I am getting similar error.  No idea on how to debug it. Any help?

[code]

[2022-04-07 04:40] 3togo commented on #106
problem fixed after installing forge

[2022-04-08 06:22] 3togo opened #258 "arrayfile-python is much slower than cupy"
I modified the example code "bench_blas.py" and find that
cupy is at least 5 times faster than array_cuda. But why?

Below is the console output:

[code]

[code]

[2022-04-08 16:45] umar456 commented on #258
You are benchmarking cupy incorrectly. You need to [synchronize](https://docs.cupy.dev/en/stable/reference/generated/cupy.cuda.Device.html#cupy.cuda.Device.synchronize) cupy like you synchronize ArrayFire.

[2022-04-08 16:45] #258 closed

[2022-04-10 02:49] 3togo commented on #258
@umar456 ,
As per your suggestion, I add some code to synchronize cupy as well.  Still, cupy is running 2x faster than arrayfire.

[code]

[code]

[2022-04-10 04:45] umar456 commented on #258
There are better ways of doing what you are trying to do. Can you add eval on the B array in the loop. It should help. If you want to get ideal performance you want to use the af_gemm function.

[2022-04-10 10:42] 3togo commented on #258
@umar456 ,
Thank your for your advise on using af.eval(), it did speed up arrayfire significantly. However, it is still not comparable to cupy.

[code]

[code]

[2022-04-10 14:39] umar456 commented on #258
I think you are still profiling the cupy version incorrectly. The maximum compute for fp32 your card is capable of is 4300 GFLOPs but you are geting close to 11 GFLOPs AND you are doing additional work on top of matmul. I suggest you look into what is being calculated by your benchmark using a profiler.

[2022-04-10 15:40] 3togo commented on #258
By tracing the profile dump, I can't find any clue to solve my puzzle.
[af_cuda.txt](https://github.com/arrayfire/arrayfire-python/files/8459347/af_cuda.txt)
[cupy.txt](https://github.com/arrayfire/arrayfire-python/files/8459348/cupy.txt)
[af_cpu.txt](https://github.com/arrayfire/arrayfire-python/files/8459349/af_cpu.txt)
[np.txt](https://github.com/arrayfire/arrayfire-python/files/8459350/np.txt)

[2022-04-10 16:19] umar456 commented on #258
The streams you were synchronizing were not being used so the synchronizations were not doing anything. You needed to use cu.cuda.Device(0).synchronize()

[code]

[code]

[2022-08-26 20:49] #217 closed